Repository the-virtual-brain/tvb-root, pull requests merged in 2020-10, with the labels that each got.

#248 TVB-2799 surface initial conditions
  scientific_library/tvb/simulator/simulator.py
Labels: area/scilib, bug

#254 HBP-121 Fix keycloak login after latest HBP keycloak server changes.
  framework_tvb/tvb/interfaces/web/static/js/keycloak.js
Labels: area/framework, bug

#255 TVB-2806. Update multiple_stimuli.ipynb
  tvb_documentation/demos/multiple_stimuli.ipynb
Labels: documentation

#243 WIP Add the theta neural mass models
  scientific_library/tvb/simulator/models/__init__.py
  scientific_library/tvb/simulator/models/infinite_theta.py
  scientific_library/tvb/tests/library/simulator/models_test.py
  tvb_documentation/demos/theta_neuron_models.ipynb
Labels: area/scilib

#258 TVB-2747. Add DatatypeMeasure entity
  framework_tvb/tvb/adapters/datatypes/db/mapped_value.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/core/entities/file/simulator/datatype_measure_h5.py
Labels: area/framework

#259 TZW-242: Change nbviewer links
  tvb_build/tvb_build/tvb_documentor/generate_rst_for_scripting_demos.py
  tvb_documentation/demos/Demos.rst
  tvb_documentation/demos/exploring_the_bold_monitor.ipynb
  tvb_documentation/tutorials/Tutorials.rst
  tvb_documentation/tutorials/tutorial_2_RestingStateNetworks.rst
Labels: documentation

#260 TVB-2781: Don't allow to upload H5 files for which TVB doesn't have the dependent datatypes in DB
  framework_tvb/tvb/core/services/exceptions.py
  framework_tvb/tvb/core/services/import_service.py
Labels: area/framework

#261 TVB-2642: Show error message when period is bigger than simulation length
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
Labels: area/framework

#268 HBP-120. Support connectivities with empty tracts files
  framework_tvb/tvb/adapters/uploaders/zip_connectivity_importer.py
Labels: area/framework

#262 TVB-2798 Init tvb-framework storage and db independently of TVB GUI for the command profile
  framework_tvb/tvb/config/init/initializer.py
  framework_tvb/tvb/core/entities/storage/session_maker.py
  framework_tvb/tvb/core/utils.py
  framework_tvb/tvb/interfaces/command/demos/datatypes/modify_h5_metadata.py
  framework_tvb/tvb/interfaces/command/demos/datatypes/read_from_h5.py
  framework_tvb/tvb/interfaces/command/demos/datatypes/search_and_export.py
  framework_tvb/tvb/interfaces/command/demos/datatypes/store_into_h5.py
  framework_tvb/tvb/interfaces/command/demos/importers/h5_import.py
  framework_tvb/tvb/interfaces/command/demos/importers/new_importer.py
  framework_tvb/tvb/interfaces/command/demos/importers/new_importer_launcher.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_analyzer.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_simulation.py
  framework_tvb/tvb/interfaces/command/demos/project/project_export.py
  framework_tvb/tvb/interfaces/command/demos/project/project_import.py
  framework_tvb/tvb/interfaces/command/lab.py
  scientific_library/tvb/datatypes/cortex.py
Labels: area/framework

#265 TVB-2780: Display more parameters in GUI for Balloon Analyzer
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  scientific_library/tvb/analyzers/fmri_balloon.py
Labels: area/framework

#266 TVB-2790: Make PSE Simulations run with surfaces as gid params
  framework_tvb/tvb/adapters/simulator/range_parameters.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/regionSelector.js
Labels: area/framework

#264 TVB-2747. Review and simplify import/export of PSE.
  framework_tvb/tvb/core/entities/file/simulator/datatype_measure_h5.py
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/core/neotraits/view_model.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
Labels: area/framework

#272 TVB-2794: Fixed the problem of the missing question marks
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/generate_help_tooltip.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/spatial_fragment.html
Labels: area/framework

#273 TVB-2788. Region Stimulus - click on a cube should toggle the corresponding checkbox
  framework_tvb/tvb/interfaces/web/static/js/region_associator.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/stimulus.js
Labels: area/framework

#269 TVB-2787: Fix LargeScaleConnectivity in case of a single hemisphere Connectivity
  framework_tvb/tvb/adapters/visualizers/connectivity.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/connectivity/scripts/connectivity2DScript.js
Labels: area/framework

#275 TZW-249: Add aditional styles to index.html and _static folder
  tvb_documentation/_static/additional_styles.css
  tvb_documentation/_templates/layout.html
  tvb_documentation/conf.py
Labels: documentation

#271 TVB-2767: Review flow for calculating and displaying the disk usage
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/storage/project_dao.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/tests/framework/core/base_testcase.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
Labels: area/framework

#274 TVB-2785: Made TSs appear instead of DatatypeMeasures when clicking on PSE circles
  framework_tvb/tvb/adapters/visualizers/pse.py
Labels: area/framework

#270 TVB-2751 Migrate simulate_for_mouse and interacting_with_Allen notebooks
  framework_tvb/tvb/interfaces/command/lab.py
  tvb_documentation/demos/interacting_with_Allen.ipynb
  tvb_documentation/demos/interacting_with_the_framework.ipynb
  tvb_documentation/demos/simulate_for_mouse.ipynb
Labels: area/framework

#279 TVB-2785: Fixed failing test
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/exploration_controller_test.py
Labels: area/framework

#276 TVB-2754: Fix issue with Topographic Visualizer
  framework_tvb/tvb/adapters/visualizers/topographic.py
Labels: area/framework

#281 TVB-2781: Refactored a little the way we check for datatype references
  framework_tvb/tvb/adapters/uploaders/tvb_importer.py
  framework_tvb/tvb/core/services/import_service.py
Labels: area/framework

#282 TVB-2817. Ensure all fields are set at import time.
  framework_tvb/tvb/core/services/import_service.py
Labels: area/framework
