Repository the-virtual-brain/tvb-root, pull requests merged in 2020-08, with the labels that each got.

#200 HBP-86 Use keycloak group instead of the list of GIDs in order to set the admin role for a user.
  framework_tvb/tvb/core/entities/model/model_project.py
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/keycloak_config.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/login.html
  scientific_library/tvb/basic/config/settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_build/docker/.tvb.configuration
Labels: area/framework

#206 TVB-2768: add extra checks to fix overlay display for uploaded data
  framework_tvb/tvb/core/adapters/inputs_processor.py
Labels: area/framework, bug

#194 TVB-2661: Happy flow Import/Export of Project
  framework_tvb/tvb/adapters/datatypes/db/connectivity.py
  framework_tvb/tvb/adapters/datatypes/db/time_series.py
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/adapters/simulator/hpc_simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/uploaders/brco_importer.py
  framework_tvb/tvb/adapters/uploaders/connectivity_measure_importer.py
  framework_tvb/tvb/adapters/uploaders/projection_matrix_importer.py
  framework_tvb/tvb/adapters/uploaders/region_mapping_importer.py
  framework_tvb/tvb/adapters/uploaders/sensors_importer.py
  framework_tvb/tvb/adapters/uploaders/tvb_importer.py
  framework_tvb/tvb/adapters/uploaders/zip_connectivity_importer.py
  framework_tvb/tvb/adapters/uploaders/zip_surface_importer.py
  framework_tvb/tvb/config/__init__.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/config/init/initializer.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/adapters/abcdisplayer.py
  framework_tvb/tvb/core/adapters/abcuploader.py
  framework_tvb/tvb/core/adapters/constants.py
  framework_tvb/tvb/core/entities/file/simulator/burst_configuration_h5.py
  framework_tvb/tvb/core/entities/filters/factory.py
  framework_tvb/tvb/core/entities/generic_attributes.py
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/core/neocom/_h5loader.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/neotraits/db.py
  framework_tvb/tvb/core/neotraits/view_model.py
  framework_tvb/tvb/core/operation_hpc_launcher.py
  framework_tvb/tvb/core/project_versions/project_update_scripts/1_update_project.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/burst_config_serialization.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/exceptions.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/rest/server/facades/operation_facade.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/tests/framework/adapters/testadapter3.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/adapters/adapters_memory_usage_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/hpc_scheduler_client_test.py
  framework_tvb/tvb/tests/framework/core/services/import_service_test.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#209 HBP-95: Enable Upload of Encrypted data files in TVB Web GUI - COPY
  framework_tvb/setup.py
  framework_tvb/tvb/adapters/uploaders/zip_connectivity_importer.py
  framework_tvb/tvb/core/adapters/abcuploader.py
  framework_tvb/tvb/core/neotraits/uploader_view_model.py
  framework_tvb/tvb/core/services/encryption_handler.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/static/js/projectTree.js
  framework_tvb/tvb/tests/framework/adapters/uploaders/encrypt_decrypt_test.py
  scientific_library/tvb/basic/config/profile_settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_documentation/_static/public_key.pem
  tvb_documentation/demos/encrypt_data.ipynb
Labels: area/framework, enhancement

#213 TVB-2771: Clear SessionStoredSim on project delete (and not only)
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
Labels: area/framework, bug

#216 TVB-2746: Fix Reload Simulation from web page
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/services/backend_client_factory.py
  framework_tvb/tvb/core/services/backend_clients/backend_client.py
  framework_tvb/tvb/core/services/backend_clients/standalone_client.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
Labels: area/framework, bug

#214 HBP-106 and TVB-2765. Run uploaders in a separate process and fix tests
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/adapters/analyzers/cross_correlation_adapter.py
  framework_tvb/tvb/adapters/analyzers/fcd_adapter.py
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  framework_tvb/tvb/adapters/analyzers/fourier_adapter.py
  framework_tvb/tvb/adapters/analyzers/ica_adapter.py
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/adapters/analyzers/node_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_complex_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_covariance_adapter.py
  framework_tvb/tvb/adapters/analyzers/pca_adapter.py
  framework_tvb/tvb/adapters/analyzers/wavelet_adapter.py
  framework_tvb/tvb/adapters/creators/allen_creator.py
  framework_tvb/tvb/adapters/creators/connectivity_creator.py
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/adapters/abcdisplayer.py
  framework_tvb/tvb/core/adapters/abcuploader.py
  framework_tvb/tvb/core/services/backend_clients/standalone_client.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/tests/framework/adapters/testadapter1.py
  framework_tvb/tvb/tests/framework/adapters/testadapter2.py
  framework_tvb/tvb/tests/framework/adapters/testadapter3.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/connectivity_measure_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/connectivity_zip_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/csv_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/gifti_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/mat_timeseries_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/networkx_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/nifti_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/obj_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/projection_matrix_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/region_mapping_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/sensors_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/tvb_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/zip_surface_importer_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
Labels: area/framework

#210 TVB-2661: Export/Import of projects from web GUI
  framework_tvb/tvb/adapters/uploaders/tvb_importer.py
  framework_tvb/tvb/core/entities/file/file_update_scripts/003_update_files.py
  framework_tvb/tvb/core/entities/file/file_update_scripts/004_update_files.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/interfaces/command/demos/datatypes/read_from_h5.py
  framework_tvb/tvb/tests/framework/conftest.py
Labels: area/framework, bug

#217 TVB-2376 Fix unit-tests on FlowController.cancel_or_remove_operation
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/timeseries_metrics_adapter_test.py
  framework_tvb/tvb/tests/framework/adapters/creators/stimulus_creator_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
  scientific_library/tvb/basic/config/environment.py
Labels: area/framework

#212 TVB-2769 Correct Metadata editing in a DT overlay and ensure DB&H5 persistence
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/core/entities/generic_attributes.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/transient/context_overlay.py
  framework_tvb/tvb/core/entities/transient/structure_entities.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/tests/framework/adapters/testadapter3.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
  scientific_library/tvb/basic/neotraits/ex.py
Labels: area/framework, bug

#218 TVB-2376 Improve frw unit-tests
  framework_tvb/tvb/adapters/uploaders/region_mapping_importer.py
  framework_tvb/tvb/tests/framework/adapters/simulator/simulator_adapter_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/region_mapping_importer_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/settings_controller_test.py
  scientific_library/tvb/basic/neotraits/_declarative_base.py
Labels: area/framework

#222 TVB-2376 Improve unit-tests
  framework_tvb/tvb/core/utils.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/bct_test.py
  framework_tvb/tvb/tests/framework/core/entities/transactional_test.py
  framework_tvb/tvb/tests/framework/core/services/import_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/interfaces/rest/datatype_resource_test.py
Labels: area/framework

#221 TVB-2763 Propagate parent_burst (alternative proposal)
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/adapters/analyzers/cross_correlation_adapter.py
  framework_tvb/tvb/adapters/analyzers/fcd_adapter.py
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  framework_tvb/tvb/adapters/analyzers/fourier_adapter.py
  framework_tvb/tvb/adapters/analyzers/ica_adapter.py
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/adapters/analyzers/node_complex_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_covariance_adapter.py
  framework_tvb/tvb/adapters/analyzers/pca_adapter.py
  framework_tvb/tvb/adapters/analyzers/wavelet_adapter.py
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/datatypes/db/mapped_value.py
  framework_tvb/tvb/adapters/exporters/abcexporter.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/uploaders/csv_connectivity_importer.py
  framework_tvb/tvb/adapters/uploaders/gifti_timeseries_importer.py
  framework_tvb/tvb/adapters/uploaders/mat_timeseries_importer.py
  framework_tvb/tvb/adapters/uploaders/nifti_importer.py
  framework_tvb/tvb/adapters/uploaders/projection_matrix_importer.py
  framework_tvb/tvb/adapters/uploaders/tract_importer.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/adapters/visualizers/complex_imaginary_coherence.py
  framework_tvb/tvb/adapters/visualizers/connectivity.py
  framework_tvb/tvb/adapters/visualizers/eeg_monitor.py
  framework_tvb/tvb/adapters/visualizers/fourier_spectrum.py
  framework_tvb/tvb/adapters/visualizers/matrix_viewer.py
  framework_tvb/tvb/adapters/visualizers/pearson_edge_bundle.py
  framework_tvb/tvb/adapters/visualizers/sensors.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/adapters/visualizers/time_series.py
  framework_tvb/tvb/adapters/visualizers/time_series_volume.py
  framework_tvb/tvb/adapters/visualizers/topographic.py
  framework_tvb/tvb/adapters/visualizers/wavelet_spectrogram.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/adapters/inputs_processor.py
  framework_tvb/tvb/core/entities/load.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/rest/server/facades/datatype_facade.py
  framework_tvb/tvb/interfaces/web/controllers/burst/exploration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/nifti_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/region_mapping_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/tvb_importer_test.py
Labels: area/framework

#215 TVB-2511: Display Equations in Phase Plane and ?(green doc bubble) for the Model
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/matjax.py
  framework_tvb/tvb/interfaces/web/static/js/bursts_dynamic.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/dynamic.html
Labels: area/framework, bug

#224 HBP-87. Avoid need to install flask for tvb-multiscale when using h5 layer
  framework_tvb/tvb/adapters/datatypes/h5/region_mapping_h5.py
  framework_tvb/tvb/adapters/visualizers/region_volume_mapping.py
Labels: area/framework, enhancement

#225 Update epileptor_rs.py
  scientific_library/tvb/simulator/models/epileptor_rs.py
Labels: area/scilib, documentation

#211 TVB-2637 Publish new demos on docs.tvb main demos page
  scientific_library/tvb/dsl/LEMS2python.py
  scientific_library/tvb/tests/library/simulator/models_test.py
  tvb_documentation/_static/public_key.pem
  tvb_documentation/demos/Demos.rst
  tvb_documentation/demos/encrypt_data.ipynb
  tvb_documentation/demos/model_generation_using_dsl.ipynb
Labels: area/framework, area/scilib, documentation

#196 Mistake in parameter labelling W-C Model
  scientific_library/tvb/simulator/models/wilson_cowan.py
Labels: area/scilib, documentation

#219 TVB-2773: Convert Operation.parameters into view_model_gid. Fix TVB-2777 and touch TVB-2774
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/adapters/simulator/hpc_simulator_adapter.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/entities/filters/factory.py
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/core/entities/storage/operation_dao.py
  framework_tvb/tvb/core/entities/transient/graph_structures.py
  framework_tvb/tvb/core/services/backend_clients/cluster_scheduler_client.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/hpc_operation_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/command/demos/datatypes/search_and_export.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/hpc_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/static/js/genericTVB.js
  framework_tvb/tvb/interfaces/web/static/js/projectTree.js
  framework_tvb/tvb/interfaces/web/static/style/section_project.css
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/details_datatype_overlay.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/structure.html
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/adapters/adapters_memory_usage_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/hpc_scheduler_client_test.py
  framework_tvb/tvb/tests/framework/core/services/import_service_test.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/project_controller_test.py
Labels: area/framework, enhancement

#227 TVB-2661 (with subtasks TVB-2774 and TVB-2779) Project Export and Import
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/storage/operation_dao.py
  framework_tvb/tvb/core/services/figure_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/figure_controller.py
  framework_tvb/tvb/interfaces/web/static/js/canvas2image.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/call_out_control.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/viewoperations.html
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/pse_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/figure_service_test.py
  framework_tvb/tvb/tests/framework/core/services/import_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/exploration_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/figure_controller_test.py
Labels: area/framework, enhancement
