Repository the-virtual-brain/tvb-root, pull requests merged in 2020-09, with the labels that each got.

#231 TVB-2753: Correctly split to left/right hemisphere
  framework_tvb/tvb/adapters/visualizers/connectivity.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/connectivity/main_connectivity.html
Labels: area/framework, bug

#228 TVB-2752: fill Top-Right call-out with current loaded ViewModel
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/entities/context_selected_adapter.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/viewoperations.html
Labels: area/framework

#233 TVB-2775. Avoid imports of werkzeug in core (FilesHelper)
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/interfaces/rest/client/datatype/datatype_api.py
  framework_tvb/tvb/interfaces/rest/client/simulator/simulation_api.py
  framework_tvb/tvb/interfaces/rest/commons/files_helper.py
  framework_tvb/tvb/interfaces/rest/server/facades/operation_facade.py
  framework_tvb/tvb/interfaces/rest/server/resources/simulator/simulation_resource.py
Labels: area/framework, enhancement

#226 TVB-2772: Corrected equations in Phase Plane
  framework_tvb/tvb/adapters/simulator/model_forms.py
  framework_tvb/tvb/interfaces/web/controllers/burst/matjax.py
  scientific_library/tvb/simulator/models/epileptor.py
  scientific_library/tvb/simulator/models/epileptor_rs.py
  scientific_library/tvb/simulator/models/epileptorcodim3.py
  scientific_library/tvb/simulator/models/hopfield.py
  scientific_library/tvb/simulator/models/jansen_rit.py
  scientific_library/tvb/simulator/models/larter_breakspear.py
  scientific_library/tvb/simulator/models/linear.py
  scientific_library/tvb/simulator/models/oscillator.py
  scientific_library/tvb/simulator/models/stefanescu_jirsa.py
  scientific_library/tvb/simulator/models/wilson_cowan.py
  scientific_library/tvb/simulator/models/wong_wang.py
  scientific_library/tvb/simulator/models/wong_wang_exc_inh.py
  scientific_library/tvb/simulator/models/zerlaut.py
Labels: area/scilib, documentation

#235 TVB-2758. Ensure values of zero work for float fields
  framework_tvb/tvb/core/neotraits/forms.py
Labels: area/framework, bug

#234 TVB-2749: fix burst status for pse
  framework_tvb/tvb/core/services/simulator_service.py
Labels: area/framework, bug

#188 TVB-2731: REST API - provide extra information for various TS analysis results
  framework_tvb/tvb/adapters/datatypes/db/fcd.py
  framework_tvb/tvb/adapters/datatypes/db/graph.py
  framework_tvb/tvb/adapters/datatypes/db/mode_decompositions.py
  framework_tvb/tvb/adapters/datatypes/db/spectral.py
  framework_tvb/tvb/adapters/datatypes/db/temporal_correlations.py
  framework_tvb/tvb/adapters/datatypes/db/time_series.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/interfaces/rest/client/datatype/datatype_api.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  framework_tvb/tvb/interfaces/rest/client/tvb_client.py
  framework_tvb/tvb/interfaces/rest/commons/strings.py
  framework_tvb/tvb/interfaces/rest/server/facades/datatype_facade.py
  framework_tvb/tvb/interfaces/rest/server/resources/datatype/datatype_resource.py
  framework_tvb/tvb/interfaces/rest/server/run.py
Labels: area/framework, enhancement

#237 TVB-2782. Small fixes after testing
  framework_tvb/tvb/adapters/analyzers/fcd_adapter.py
  framework_tvb/tvb/adapters/datatypes/db/mode_decompositions.py
  framework_tvb/tvb/adapters/datatypes/db/spectral.py
Labels: area/framework, bug

#238 TVB-2782. Encryption at upload time brings dependency to rest client
  framework_tvb/setup_rest_client.py
Labels: area/framework

#239 TVB-2782 Various bugs fixed in web gui
  framework_tvb/setup.py
  framework_tvb/setup_rest_client.py
  framework_tvb/tvb/adapters/analyzers/fcd_adapter.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/adapters_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  scientific_library/setup.py
  scientific_library/tvb/basic/config/settings.py
  scientific_library/tvb/basic/config/tvb.version
  tvb_bin/setup.py
  tvb_build/setup.py
  tvb_build/setup_mac.py
  tvb_contrib/setup.py
Labels: area/framework, bug

#245 TVB-2764 conda-forge
  framework_tvb/setup.py
  framework_tvb/tvb/core/services/backend_client_factory.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/exceptions.py
  framework_tvb/tvb/core/services/hpc_operation_service.py
  framework_tvb/tvb/interfaces/web/controllers/hpc_controller.py
  framework_tvb/tvb/interfaces/web/run.py
  framework_tvb/tvb/tests/framework/core/services/hpc_scheduler_client_test.py
  scientific_library/tvb/basic/config/settings.py
Labels: area/framework, enhancement

#242 TVB-2745: Fix overriding of tvb folder
  framework_tvb/setup.py
  framework_tvb/tvb/core/services/settings_service.py
  framework_tvb/tvb/interfaces/command/lab.py
  framework_tvb/tvb/interfaces/web/controllers/settings_controller.py
  framework_tvb/tvb/tests/framework/core/services/settings_service_test.py
  scientific_library/tvb/basic/config/settings.py
  tvb_build/build_step1.py
Labels: area/framework, bug

#246 TVB-2791: Fix metadata lost during export exclude exporting failed operations
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/core/entities/storage/operation_dao.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
Labels: area/framework
