Repository the-virtual-brain/tvb-root, pull requests merged in 2020-12, with the labels that each got.

#287 Issue encountered using stimulator on a neural fields model
  scientific_library/tvb/simulator/simulator.py
  scientific_library/tvb/tests/library/simulator/stimulation_test.py
Labels: area/scilib

#191 number of step of the simulation
  scientific_library/tvb/simulator/simulator.py
  scientific_library/tvb/tests/library/simulator/simulator_step_test.py
Labels: area/scilib

#207 HBP-87. Extracted changes related to history bound/clamp and added tests
  scientific_library/tvb/simulator/simulator.py
  scientific_library/tvb/tests/library/simulator/simulator_test.py
Labels: area/scilib, enhancement

#263 Intermediate state vars
  scientific_library/tvb/simulator/integrators.py
  scientific_library/tvb/simulator/models/base.py
  scientific_library/tvb/simulator/simulator.py
  scientific_library/tvb/tests/library/simulator/integrators_test.py
  scientific_library/tvb/tests/library/simulator/models_test.py
  scientific_library/tvb/tests/library/simulator/simulator_test.py
Labels: area/scilib, enhancement

#267 Rawvoi coupling monitors
  scientific_library/tvb/simulator/monitors.py
  scientific_library/tvb/simulator/simulator.py
  scientific_library/tvb/tests/library/simulator/monitors_test.py
  scientific_library/tvb/tests/library/simulator/simulator_test.py
Labels: area/scilib, enhancement

#291 TVB-2738: Refactor Analyzers
  framework_tvb/tvb/adapters/analyzers/bct_clustering_adapters.py
  framework_tvb/tvb/adapters/analyzers/cross_correlation_adapter.py
  framework_tvb/tvb/adapters/analyzers/fcd_adapter.py
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  framework_tvb/tvb/adapters/analyzers/fourier_adapter.py
  framework_tvb/tvb/adapters/analyzers/ica_adapter.py
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/adapters/analyzers/node_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_complex_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_covariance_adapter.py
  framework_tvb/tvb/adapters/analyzers/pca_adapter.py
  framework_tvb/tvb/adapters/analyzers/wavelet_adapter.py
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/simulator/hpc_simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/visualizers/fourier_spectrum.py
  framework_tvb/tvb/config/__init__.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/services/algorithm_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/fft_test.py
  framework_tvb/tvb/tests/framework/interfaces/rest/operation_resource_test.py
  scientific_library/tvb/analyzers/fft.py
  scientific_library/tvb/analyzers/fmri_balloon.py
  scientific_library/tvb/analyzers/ica.py
  scientific_library/tvb/analyzers/metric_kuramoto_index.py
  scientific_library/tvb/analyzers/metric_proxy_metastability.py
  scientific_library/tvb/analyzers/metric_variance_global.py
  scientific_library/tvb/analyzers/metric_variance_of_node_variance.py
  scientific_library/tvb/analyzers/metrics_base.py
  scientific_library/tvb/analyzers/node_coherence.py
  scientific_library/tvb/analyzers/node_complex_coherence.py
  scientific_library/tvb/analyzers/pca.py
  scientific_library/tvb/analyzers/wavelet.py
  tvb_documentation/demos/exploring_epileptor_2d.ipynb
  tvb_documentation/demos/sandbox/pca_analyse_view_region.ipynb
Labels: area/framework, area/scilib

#296 TVB-2786: Review metadata of Timeseries generated from PSE
  framework_tvb/tvb/core/services/operation_service.py
Labels: area/framework

#302 TVB-2835: Writing tests for forms.
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/tests/framework/core/neotraits/forms_test.py
Labels: area/framework

#311 TVB-2844: Solved the bug regarding the PSE Discrete Viewer on intermermediary results
  framework_tvb/tvb/adapters/visualizers/pse.py
Labels: area/framework

#308 TVB-2843 Fix delete project for incomplete PSEs
  framework_tvb/tvb/core/services/project_service.py
Labels: area/framework, bug

#313 TVB-2743: Refactor BurstService.prepare_indexes_for_simulation_results
  framework_tvb/tvb/adapters/datatypes/db/time_series.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/tests/framework/core/services/burst_service_test.py
Labels: area/framework

#312 TVB-2848 Review temporary files cleaning mechanism
  framework_tvb/tvb/adapters/uploaders/brco_importer.py
  framework_tvb/tvb/adapters/uploaders/connectivity_measure_importer.py
  framework_tvb/tvb/adapters/uploaders/csv_connectivity_importer.py
  framework_tvb/tvb/adapters/uploaders/gifti_surface_importer.py
  framework_tvb/tvb/adapters/uploaders/gifti_timeseries_importer.py
  framework_tvb/tvb/adapters/uploaders/mat_timeseries_importer.py
  framework_tvb/tvb/adapters/uploaders/networkx_importer.py
  framework_tvb/tvb/adapters/uploaders/nifti_importer.py
  framework_tvb/tvb/adapters/uploaders/obj_importer.py
  framework_tvb/tvb/adapters/uploaders/projection_matrix_importer.py
  framework_tvb/tvb/adapters/uploaders/region_mapping_importer.py
  framework_tvb/tvb/adapters/uploaders/sensors_importer.py
  framework_tvb/tvb/adapters/uploaders/tract_importer.py
  framework_tvb/tvb/adapters/uploaders/tvb_importer.py
  framework_tvb/tvb/adapters/uploaders/zip_connectivity_importer.py
  framework_tvb/tvb/adapters/uploaders/zip_surface_importer.py
  framework_tvb/tvb/core/adapters/abcuploader.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/interfaces/command/demos/importers/new_importer.py
  framework_tvb/tvb/tests/framework/core/neotraits/forms_test.py
Labels: area/framework, bug

#320 TVB-2852 Fix Step1 build
  tvb_build/Jenkinsfile-Step1
  tvb_build/docker/.tvb.configuration
Labels: area/framework, bug

#314 TVB-2851 Attempt to start REST server only if the KEYCLOAK CONFIG path is set in the tvb config file
  framework_tvb/tvb/interfaces/web/controllers/settings_controller.py
  framework_tvb/tvb/interfaces/web/run.py
Labels: area/framework

#323 Docs website design update
  tvb_documentation/_static/tvb_design/base.css
  tvb_documentation/_templates/layout.html
  tvb_documentation/index.rst
  tvb_documentation/manuals/ContributorsManual/ContributorsManual.rst
  tvb_documentation/manuals/UserGuide/UserGuide-Overview.rst
Labels: documentation

#324 TVB-2749 Review Burst status update for PSE
  framework_tvb/tvb/core/operation_async_launcher.py
Labels: area/framework, bug

#325 TVB-2670: Message in case there is no connectivity in the project + solve few bugs.
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/tests/framework/core/neotraits/forms_test.py
Labels: area/framework

#277 TVB-2761: Export/Import of DT with related entities
  framework_tvb/tvb/adapters/exporters/TVBLinkedExporter.py
  framework_tvb/tvb/adapters/exporters/abcexporter.py
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/adapters/uploaders/tvb_importer.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/details_datatype_overlay.html
Labels: area/framework

#329 TVB-2850: Make equation select fields disabled and fix complex array_data problem in postgres
  framework_tvb/tvb/adapters/analyzers/wavelet_adapter.py
  framework_tvb/tvb/adapters/simulator/equation_forms.py
  framework_tvb/tvb/core/adapters/abcadapter.py
Labels: area/framework

#332 TVB-2850 Fix cortical surface display in operation details overlay
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/core/adapters/inputs_processor.py
Labels: area/framework, bug

#336 Docs website: fix for width overflow on index page
  tvb_documentation/_static/tvb_design/base.css
Labels: documentation

#339 TVB-2850 Fix local connectivity form
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
Labels: area/framework, bug
