Repository the-virtual-brain/tvb-root, pull requests merged in 2020-03, with the labels that each got.

#60 WIP TVB-2626
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/core/services/simulator_serializer.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/upload_data_overlay.html
  scientific_library/tvb/datatypes/sensors.py
  scientific_library/tvb/simulator/monitors.py
Labels: area/framework

#55 TVB-2631 Support authorization also using a keycloak server
  framework_tvb/tvb/core/services/authorization.py
  framework_tvb/tvb/core/services/settings_service.py
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/rest/server/decorators/rest_decorators.py
  framework_tvb/tvb/interfaces/rest/server/request_helper.py
  framework_tvb/tvb/interfaces/rest/server/resources/operation/operation_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/simulator/simulation_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/user/user_resource.py
  framework_tvb/tvb/interfaces/rest/server/run.py
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/settings_controller.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  framework_tvb/tvb/interfaces/web/static/js/keycloak.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/base_template.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/base_user.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/keycloak_config.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/login.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/profile.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/silent_check_sso.html
  scientific_library/tvb/basic/config/profile_settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_build/tvb_build/third_party_licenses/license/LICENSE_keycloak.txt
  tvb_build/tvb_build/third_party_licenses/package_finder.py
  tvb_build/tvb_build/third_party_licenses/packages_accepted.xml
Labels: area/framework

#62 WIP LEMS DSL
  scientific_library/Dockerfile
  scientific_library/tvb/dsl/LEMS2python.py
  scientific_library/tvb/dsl/NeuroML/XMLmodels/epileptort.xml
  scientific_library/tvb/dsl/NeuroML/XMLmodels/generic2doscillatort.xml
  scientific_library/tvb/dsl/NeuroML/XMLmodels/kuramotot.xml
  scientific_library/tvb/dsl/NeuroML/XMLmodels/montbriot.xml
  scientific_library/tvb/dsl/NeuroML/XMLmodels/reducedwongwangt.xml
  scientific_library/tvb/dsl/NeuroML/__init__.py
  scientific_library/tvb/dsl/NeuroML/lems/base/__init__.py
  scientific_library/tvb/dsl/NeuroML/lems/base/base.py
  scientific_library/tvb/dsl/NeuroML/lems/base/errors.py
  scientific_library/tvb/dsl/NeuroML/lems/base/map.py
  scientific_library/tvb/dsl/NeuroML/lems/base/stack.py
  scientific_library/tvb/dsl/NeuroML/lems/base/util.py
  scientific_library/tvb/dsl/NeuroML/lems/model/__init__.py
  scientific_library/tvb/dsl/NeuroML/lems/model/component.py
  scientific_library/tvb/dsl/NeuroML/lems/model/dynamics.py
  scientific_library/tvb/dsl/NeuroML/lems/model/fundamental.py
  scientific_library/tvb/dsl/NeuroML/lems/model/model.py
  scientific_library/tvb/dsl/NeuroML/lems/model/simulation.py
  scientific_library/tvb/dsl/NeuroML/lems/model/structure.py
  scientific_library/tvb/dsl/NeuroML/lems/parser/LEMS.py
  scientific_library/tvb/dsl/NeuroML/lems/parser/__init__.py
  scientific_library/tvb/dsl/NeuroML/lems/parser/expr.py
  scientific_library/tvb/dsl/README.md
  scientific_library/tvb/dsl/__init__.py
  scientific_library/tvb/dsl/tmpl8_regTVB.py
  scientific_library/tvb/simulator/models/__init__.py
  scientific_library/tvb/tests/library/simulator/_opencl_tests.py
  scientific_library/tvb/tests/library/simulator/models_test.py
  tvb_documentation/demos/model_generation_using_dsl.ipynb
  tvb_documentation/dsl/tvb_dsl.rst
Labels: area/scilib, prio/hi

#66 TVB-2628 Check if user can access a resource (project, operation, datatype etc.)
  framework_tvb/tvb/interfaces/rest/client/datatype/datatype_api.py
  framework_tvb/tvb/interfaces/rest/server/access_permissions/__init__.py
  framework_tvb/tvb/interfaces/rest/server/access_permissions/permissions.py
  framework_tvb/tvb/interfaces/rest/server/decorators/rest_decorators.py
  framework_tvb/tvb/interfaces/rest/server/resources/datatype/datatype_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/operation/operation_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/project/project_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/simulator/simulation_resource.py
Labels: area/framework

#64 TVB-2568 Drop SimulatorIndex
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/core/entities/file/simulator/simulator_h5.py
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/core/entities/model/simulator/__init__.py
  framework_tvb/tvb/core/entities/model/simulator/simulator.py
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/simulator_serializer.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_simulation.py
  framework_tvb/tvb/interfaces/command/lab.py
  framework_tvb/tvb/interfaces/rest/client/simulator/simulation_api.py
  framework_tvb/tvb/interfaces/rest/client/tests/rest_tests.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/adapters/simulator/simulator_adapter_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/interfaces/rest/simulation_resource_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#78 HBP-69 Request profile and email scopes from keycloak server
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/login.html
Labels: area/framework, bug

#77 HBP-64. Add DeploymentConfig to handle multiple pods.
  framework_tvb/tvb/interfaces/rest/server/run.py
  tvb_build/deploy_with_keycloak/hbp_openshift/tvb_deployer.yml
Labels: area/framework, enhancement

#76 TVB-2639 adapt Allen Creator to the new api
  framework_tvb/tvb/adapters/creators/allen_creator.py
  framework_tvb/tvb/adapters/visualizers/region_volume_mapping.py
Labels: area/framework

#80 TVB-2641 Added Keycloak browser login from TVBClient
  framework_tvb/setup_rest_client.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  framework_tvb/tvb/interfaces/rest/client/tvb_client.py
  framework_tvb/tvb/interfaces/rest/client/user/user_api.py
  framework_tvb/tvb/interfaces/rest/commons/strings.py
  framework_tvb/tvb/interfaces/rest/server/resources/user/user_resource.py
  framework_tvb/tvb/interfaces/rest/server/rest_api.py
  framework_tvb/tvb/interfaces/rest/server/run.py
Labels: area/framework, enhancement

#82 TVB-2641 Use Fraunhofen REST url by default
  framework_tvb/tvb/interfaces/rest/client/examples/__init__.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  framework_tvb/tvb/interfaces/rest/client/examples/launch_operation.py
  framework_tvb/tvb/interfaces/rest/client/examples/utils.py
Labels: area/framework, enhancement

#65 TVB-2624 Improve SimulatorAdapter area
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/adapters/visualizers/pse_discrete.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/burst/exploration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework
