Repository the-virtual-brain/tvb-root, pull requests merged in 2020-05, with the labels that each got.

#135 TVB-2697: Fixed displaying PSE count message for guid ranges
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
Labels: area/framework, bug

#136 TVB-2682: Set a specific default conductionSpeed in order for the spa…
  framework_tvb/tvb/adapters/visualizers/connectivity.py
Labels: area/framework

#133 TVB-2648 TVB-2652 Review
  dev_resources/docs/HowToGIT
  framework_tvb/README_rest_client.rst
  scientific_library/contrib/README.rst
  scientific_library/contrib/setup.py
  tvb_build/create_conda_build.bat
  tvb_build/create_conda_build.sh
  tvb_documentation/manuals/ContributorsManual/ContributorsManual.rst
  tvb_documentation/sim_doc/generate_model_phase_plane_images.py
  tvb_documentation/sim_doc/img/classes_coupling.svg
  tvb_documentation/sim_doc/img/classes_integrators.svg
  tvb_documentation/sim_doc/img/classes_models.svg
  tvb_documentation/sim_doc/img/classes_monitors.svg
  tvb_documentation/sim_doc/img/classes_noise.svg
  tvb_documentation/sim_doc/img/classes_phase_plane_interactive.svg
  tvb_documentation/sim_doc/img/classes_power_spectra_interactive.svg
  tvb_documentation/sim_doc/img/classes_simulator.svg
  tvb_documentation/sim_doc/img/classes_timeseries_interactive.svg
Labels: documentation

#137 TVB-2676: Solved problem with display_name
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
Labels: area/framework

#134 TVB-2684 TVB-2679 Review FlowService, add ValueWrapper, unit-tests fixes
  framework_tvb/tvb/adapters/datatypes/db/mapped_value.py
  framework_tvb/tvb/adapters/datatypes/h5/mapped_value_h5.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/services/flow_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/flow_service_test.py
  framework_tvb/tvb/tests/framework/core/services/import_service_test.py
  framework_tvb/tvb/tests/framework/core/services/links_test.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/core/services/remove_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
Labels: area/framework

#139 TVB-2689: add summary_info to DataType indexes
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/transient/context_overlay.py
Labels: area/framework

#143 TVB-2679 Make sure BCT algorithms also store ValueWrapperH5 files
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/adapters/analyzers/bct_degree_adapters.py
  framework_tvb/tvb/adapters/datatypes/h5/mapped_value_h5.py
  framework_tvb/tvb/core/entities/transient/context_overlay.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
Labels: area/framework

#141 TVB-2651: Solved Brain Activity Visualizer Problem
  framework_tvb/tvb/adapters/datatypes/h5/time_series_h5.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/brain/view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/virtualBrain.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/visualizers_commons.js
Labels: area/framework

#142 TVB-2696 Overlay on RM and Surface. Wrong Filters
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/services/flow_service.py
  scientific_library/tvb/basic/config/settings.py
Labels: area/framework, bug

#138 TVB-2617. Refactor dynamic subforms
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/simulator/equation_forms.py
  framework_tvb/tvb/adapters/simulator/integrator_forms.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/noise_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/adapters/simulator/subform_helper.py
  framework_tvb/tvb/adapters/simulator/subforms_mapping.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts_dynamic.js
  framework_tvb/tvb/interfaces/web/static/js/genericTVB.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/base_spatial.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/local_connectivity.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/model_parameters.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/stimulus_region.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/stimulus_surface.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/radio_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/select_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/local_connectivity_step1_main.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/local_connectivity_step1_right.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/model_param_surface_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/model_param_surface_main.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/refreshBaseUrl_initializer.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/spatial_fragment.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step1_main.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step1_right.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step2_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_surface_step1_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_surface_step1_main.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_surface_step2_left.html
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/entities/file/datatypes/testdatatypes.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/local_connectivity_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/noise_configuration_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/region_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/region_stimulus_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_stimulus_controller_test.py
Labels: area/framework

#144 TVB-2651 Review BrainActivityViewer
  framework_tvb/tvb/adapters/datatypes/h5/time_series_h5.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/adapters/visualizers/eeg_monitor.py
  framework_tvb/tvb/adapters/visualizers/pearson_cross_correlation.py
  framework_tvb/tvb/adapters/visualizers/pearson_edge_bundle.py
  framework_tvb/tvb/adapters/visualizers/time_series.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/brain/internal_view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/brain/portlet_preview.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/brain/view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/internalBrain.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/virtualBrain.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/visualizers_commons.js
  framework_tvb/tvb/tests/framework/adapters/visualizers/brainviewer_test.py
  scientific_library/contrib/tvb/contrib/scripts/datatypes/time_series.py
  scientific_library/tvb/datatypes/time_series.py
Labels: area/framework, bug

#119 TVB-2657: Simulations with Multiple Monitors
  framework_tvb/tvb/adapters/datatypes/h5/simulation_history_h5.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/entities/file/simulator/simulator_h5.py
  framework_tvb/tvb/core/services/simulator_serializer.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#148 TVB-2692: Fixed problem with Kuramoto model
  framework_tvb/tvb/adapters/simulator/model_forms.py
  scientific_library/tvb/simulator/models/jansen_rit.py
  scientific_library/tvb/simulator/models/oscillator.py
  scientific_library/tvb/simulator/models/zerlaut.py
Labels: area/framework

#147 TVB-2545 migrate_version table removed on reset_db
  framework_tvb/tvb/config/init/model_manager.py
  framework_tvb/tvb/tests/framework/core/entities/amodel_manager_test.py
Labels: area/framework

#146 TVB-2698: Fixed launching simulations with stimuli
  framework_tvb/tvb/adapters/datatypes/db/patterns.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/core/services/simulator_serializer.py
Labels: area/framework

#150 TVB-2695: Wavelet GUI input configuration
  framework_tvb/tvb/adapters/analyzers/wavelet_adapter.py
  framework_tvb/tvb/core/neotraits/_h5accessors.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/tests/framework/conftest.py
Labels: area/framework

#149 TVB-2708 TVB-2651 Fix label retrieval for Projections TS.
  framework_tvb/tvb/adapters/datatypes/db/time_series.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/adapters/visualizers/sensors.py
  framework_tvb/tvb/adapters/visualizers/time_series.py
  framework_tvb/tvb/interfaces/web/static/style/nodes/nodeTimeSeriesSEEG.png
  scientific_library/tvb/datatypes/connectivity.py
  scientific_library/tvb/datatypes/sensors.py
Labels: area/framework

#154 TVB-2695 repeat wavelet fix for multiple analyzers
  framework_tvb/tvb/adapters/analyzers/cross_correlation_adapter.py
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  framework_tvb/tvb/adapters/analyzers/fourier_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_complex_coherence_adapter.py
Labels: area/framework

#151 TVB-2700: Fixed noise configuration in case of Stochastic Integrators + Tests
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/interfaces/web/controllers/burst/noise_configuration_controller.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/adapters_test.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/fft_test.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/timeseries_metrics_adapter_test.py
  framework_tvb/tvb/tests/framework/adapters/creators/stimulus_creator_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/brainviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/connectivityviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/covarianceviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/crosscoherenceviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/crosscorelationviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/eegmonitor_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/ica_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/sensorsviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/time_series_test.py
  framework_tvb/tvb/tests/framework/core/base_testcase.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/noise_configuration_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/region_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_stimulus_controller_test.py
Labels: area/framework

#156 HBP-81 Use the validate flag also for keycloak users.
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  framework_tvb/tvb/interfaces/web/static/js/keycloak.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/index.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/keycloak_config.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/login.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/profile.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/user_management.html
Labels: area/framework

#153 TVB-2707: Made SimulatorAdapter always use store references
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
Labels: area/framework

#157 TVB-2671: fix display titles, reuse and improve old implementation
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
Labels: area/framework

#158 Tvb 2672 - Fix burst display in history
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/operation_async_launcher.py
  framework_tvb/tvb/core/services/backend_client.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/burst_history.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
Labels: area/framework

#160 TVB-2644: Fix AnimatedViewer on TS obtained with Global Average Monitor
  framework_tvb/tvb/adapters/datatypes/h5/time_series_h5.py
Labels: area/framework
