Repository the-virtual-brain/tvb-root, pull requests merged in 2020-07, with the labels that each got.

#178 TVB-2549: Finish tests for Simulator Controller
  framework_tvb/tvb/core/entities/file/simulator/burst_configuration_h5.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#183 Allow function type for attributes
  scientific_library/tvb/basic/neotraits/_attr.py
  scientific_library/tvb/tests/library/basic/neotraits/neotraits_test.py
Labels: enhancement

#185 Add updated lead institutions list
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/base_user.html
Labels: area/framework, enhancement

#186 Formatting for new lead institutions logos
  framework_tvb/tvb/interfaces/web/static/style/section_user.css
Labels: area/framework, enhancement

#187 New vector logos for lead institutions
  framework_tvb/tvb/interfaces/web/static/style/img/logo_amu.svg
  framework_tvb/tvb/interfaces/web/static/style/img/logo_baycrest.svg
  framework_tvb/tvb/interfaces/web/static/style/img/logo_charite.svg
Labels: area/framework, enhancement

#192 fix missing margin-bottom for Lead Institutions
  framework_tvb/tvb/interfaces/web/static/style/section_user.css
Labels: area/framework

#184 TVB-2691: correct the visibility for volume viewers
  framework_tvb/tvb/adapters/analyzers/bct_degree_adapters.py
  framework_tvb/tvb/adapters/analyzers/cross_correlation_adapter.py
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  framework_tvb/tvb/adapters/datatypes/db/__init__.py
  framework_tvb/tvb/adapters/datatypes/db/graph.py
  framework_tvb/tvb/adapters/datatypes/db/region_mapping.py
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_connectivity.py
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_region_mapping.py
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_sensor.py
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_surface.py
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_timeseries.py
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_volume.py
  framework_tvb/tvb/adapters/datatypes/db/volume.py
  framework_tvb/tvb/adapters/datatypes/h5/region_mapping_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/time_series_h5.py
  framework_tvb/tvb/adapters/uploaders/nifti_importer.py
  framework_tvb/tvb/adapters/visualizers/annotations_viewer.py
  framework_tvb/tvb/adapters/visualizers/region_volume_mapping.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/adapters/visualizers/time_series_volume.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/transient/context_overlay.py
  framework_tvb/tvb/tests/framework/core/services/remove_test.py
Labels: area/framework, bug

#180 TVB-2678 TB-2724 - fix delete test + fix test_get_inputs_for_operation
  framework_tvb/tvb/tests/framework/adapters/testadapter3.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/services/burst_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
Labels: area/framework

#181 TVB-2737: Inspect updateDivContent
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/static/js/stepsUpdate.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/reduce_dimension_select.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/datatype_select_field.html
Labels: area/framework, enhancement

#193 TVB-2733 Fixes related for Simulator web page
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/spatial/stimulus.js
Labels: area/framework, bug

#198 HBP-87 Move sensors type to library. Create an enum
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/uploaders/mat_timeseries_eeg_importer.py
  framework_tvb/tvb/core/entities/file/file_update_scripts/004_update_files.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/sensorsviewer_test.py
  framework_tvb/tvb/tests/framework/core/services/links_test.py
  scientific_library/tvb/datatypes/projections.py
  scientific_library/tvb/datatypes/sensors.py
  scientific_library/tvb/tests/library/datatypes/sensors_test.py
  tvb_contrib/tvb/contrib/scripts/datatypes/head.py
  tvb_contrib/tvb/contrib/scripts/datatypes/projections.py
  tvb_contrib/tvb/contrib/scripts/datatypes/sensors.py
Labels: area/scilib, enhancement

#199 TVB-2744 Refactor all Matrix viewers to be consistent and faster
  framework_tvb/tvb/adapters/analyzers/ica_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_complex_coherence_adapter.py
  framework_tvb/tvb/adapters/analyzers/node_covariance_adapter.py
  framework_tvb/tvb/adapters/datatypes/db/mode_decompositions.py
  framework_tvb/tvb/adapters/datatypes/db/spectral.py
  framework_tvb/tvb/adapters/datatypes/db/temporal_correlations.py
  framework_tvb/tvb/adapters/datatypes/h5/temporal_correlations_h5.py
  framework_tvb/tvb/adapters/visualizers/__init__.py
  framework_tvb/tvb/adapters/visualizers/covariance.py
  framework_tvb/tvb/adapters/visualizers/cross_coherence.py
  framework_tvb/tvb/adapters/visualizers/cross_correlation.py
  framework_tvb/tvb/adapters/visualizers/ica.py
  framework_tvb/tvb/adapters/visualizers/matrix_viewer.py
  framework_tvb/tvb/adapters/visualizers/pearson_cross_correlation.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/neotraits/_h5accessors.py
  framework_tvb/tvb/interfaces/web/static/style/subsection_svg.css
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/matrix/svg_view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/topographic/view.html
  framework_tvb/tvb/tests/framework/adapters/visualizers/covarianceviewer_test.py
  scientific_library/tvb/analyzers/node_coherence.py
  tvb_documentation/manuals/UserGuide/UserGuide-UI_Simulator-Visualizers.rst
Labels: area/framework, enhancement

#189 TVB-2428: Handle UI Filters
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/filters.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/genericAdapterFormFields.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/datatype_select_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/options_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/included_resources.html
Labels: area/framework

#201 TVB-2428 Review filters.js
  framework_tvb/tvb/interfaces/web/static/js/filters.js
Labels: area/framework, bug

#197 TVB-2736. Enhance Copy simulation use-case
  framework_tvb/tvb/adapters/simulator/integrator_forms.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/noise_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/adapters/simulator/subforms_mapping.py
  framework_tvb/tvb/core/entities/file/simulator/view_model.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/tests/framework/adapters/simulator/simulator_adapter_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/neocom_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/noise_configuration_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#152 TVB-2701: Fix Spatial Average Monitor Launching
  framework_tvb/tvb/adapters/datatypes/db/connectivity.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/entities/file/simulator/view_model.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/neocom_test.py
  framework_tvb/tvb/tests/framework/core/services/hpc_scheduler_client_test.py
  scientific_library/tvb/simulator/monitors.py
Labels: area/framework, area/scilib, bug, enhancement

#177 DSL: svboundaries and flexible path
  scientific_library/tvb/dsl/LEMS2python.py
  scientific_library/tvb/dsl/README.md
Labels: area/scilib

#202 TVB-2748 Remove Operation.xml files
  dev_resources/debug/diagnose_disk_usage.py
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/core/code_versions/code_update_scripts/7350_update_code.py
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/core/services/figure_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/tests/framework/core/entities/file/files_helper_test.py
  framework_tvb/tvb/tests/framework/core/services/links_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
Labels: area/framework
