Repository the-virtual-brain/tvb-root, pull requests merged in 2020-11, with the labels that each got.

#280 TVB-2794: Don't display question marks inside of the brain submenu
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/static/js/genericTVB.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/generate_help_tooltip.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/spatial_fragment.html
Labels: area/framework

#278 TVB-2553 Fix integrator configuration in the Phase Plane page.
  framework_tvb/tvb/adapters/simulator/equation_forms.py
  framework_tvb/tvb/adapters/simulator/integrator_forms.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts_dynamic.js
  scientific_library/tvb/simulator/noise.py
Labels: area/framework

#284 TVB-2819 Fix project removal on postgresql (foreign key dependency issue)
  framework_tvb/tvb/adapters/datatypes/db/removers/remover_sensor.py
  framework_tvb/tvb/core/services/project_service.py
Labels: area/framework, bug

#285 Prepare website redesign with dedicated graphical assets, isolated custom CSS and customizable logo header
  tvb_documentation/_static/additional_styles.css
  tvb_documentation/_static/tvb_design/base.css
  tvb_documentation/_static/tvb_design/fonts/060880a2-4b46-418e-8407-a628c07cc95a.woff
  tvb_documentation/_static/tvb_design/fonts/2A17E2_0_0.woff
  tvb_documentation/_static/tvb_design/fonts/2A17E2_1_0.woff
  tvb_documentation/_static/tvb_design/fonts/48bc6d9a-821f-4d40-ae05-4023923a5a2e.woff
  tvb_documentation/_static/tvb_design/fonts/542ac53f-a0a5-44ac-ac30-822ce4bcbb3a.woff
  tvb_documentation/_static/tvb_design/fonts/5d75b52c-2805-4443-a810-06af987956f8.woff
  tvb_documentation/_static/tvb_design/logo_tvb_main.svg
  tvb_documentation/_templates/layout.html
Labels: documentation

#288 Docs website: updated site header + more graphic assets
  tvb_documentation/_static/tvb_design/back_docs_subnav.svg
  tvb_documentation/_static/tvb_design/icon_zoom.svg
  tvb_documentation/_templates/layout.html
Labels: documentation

#292 TZW-244: first release of complete website redesign
  tvb_documentation/_static/tvb_design/base.css
Labels: documentation

#289 TVB-2792: Solve some problems regarding PSE Viewers
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
Labels: area/framework

#293 TVB-2834 Import tumor data from ebrains dataset
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/interfaces/command/demos/importers/brain_tumor_connectivity_importer.py
  framework_tvb/tvb/interfaces/command/lab.py
Labels: area/framework

#290 TVB-2538: Enhance Branch simulation use-case
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/burst_history.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  framework_tvb/tvb/tests/framework/interfaces/web/jinja2_test.py
Labels: area/framework

#298 TVB-2811: Display theta models in GUI
  framework_tvb/tvb/adapters/simulator/model_forms.py
Labels: area/framework

#300 Fix IE ES6 issue
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/keycloak_config.html
Labels: area/framework
