Repository the-virtual-brain/tvb-root, pull requests merged in 2020-04, with the labels that each got.

#84 HBP-72 Add static help pages
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/profile.html
  tvb_build/deploy_with_keycloak/Dockerfile
  tvb_build/deploy_with_keycloak/Jenkinsfile
Labels: area/framework

#85 TVB-2463: Simulation Launch to work with GUID ranges
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
Labels: area/framework, bug

#86 TVB-2633:Insert facade layer between resources and services
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  framework_tvb/tvb/interfaces/rest/client/simulator/simulation_api.py
  framework_tvb/tvb/interfaces/rest/server/facades/__init__.py
  framework_tvb/tvb/interfaces/rest/server/facades/datatype_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/operation_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/project_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/simulation_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/user_facade.py
  framework_tvb/tvb/interfaces/rest/server/resources/datatype/datatype_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/operation/operation_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/project/project_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/rest_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/simulator/simulation_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/user/user_resource.py
Labels: area/framework, enhancement

#90 TVB-2550 Added filter to show only Cortical Surfaces
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
Labels: area/framework

#87 TVB-2533 - Translate BCT adapters to neoforms
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/adapters/analyzers/bct_centrality_adapters.py
  framework_tvb/tvb/adapters/analyzers/bct_clustering_adapters.py
  framework_tvb/tvb/adapters/analyzers/bct_degree_adapters.py
  framework_tvb/tvb/adapters/datatypes/db/graph.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/adapters/visualizers/topographic.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/algorithms_list.html
Labels: area/framework

#89 TVB-2650 Review baseUrl
  framework_tvb/tvb/adapters/visualizers/annotations_viewer.py
  framework_tvb/tvb/core/services/settings_service.py
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/settings_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/static/js/projectTree.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/details_datatype_overlay.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/structure.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/annotations/annotations.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/annotations/annotations_view.html
  framework_tvb/tvb/tests/framework/core/services/settings_service_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/settings_controller_test.py
  scientific_library/tvb/basic/config/settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_build/deploy_with_keycloak/.tvb.configuration
  tvb_build/docker/.tvb.configuration
  tvb_documentation/manuals/UserGuide/UserGuide-Config.rst
Labels: area/framework, enhancement

#95 TVB-2649 Run REST client tests on jenkins
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  framework_tvb/tvb/interfaces/rest/client/examples/launch_operation.py
  framework_tvb/tvb/interfaces/rest/client/examples/utils.py
  framework_tvb/tvb/interfaces/rest/client/tests/rest_tests.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/settings_controller_test.py
  tvb_build/Jenkinsfile-Step1
Labels: area/framework, enhancement

#98 TVB-2655 Prepare release tvb-rest-client 2.0.3
  dev_resources/docs/ReleaseProcedure
  framework_tvb/setup_rest_client.py
  framework_tvb/tvb/interfaces/rest/client/examples/launch_operation.py
  tvb_build/deploy_with_keycloak/Dockerfile
Labels: area/framework

#97 Fix model variables selection step
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/noise_forms.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  scientific_library/tvb/datatypes/cortex.py
Labels: area/framework, bug

#101 Suggested enhancements for neotraits H5 from DP
  framework_tvb/tvb/core/neocom/_h5loader.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/tests/framework/core/neocom_test.py
Labels: area/framework

#104 HBP-75 Merge plotting from tvb-scripts
  scientific_library/tvb/simulator/plot/base_plotter.py
  scientific_library/tvb/simulator/plot/config.py
  scientific_library/tvb/simulator/plot/head_plotter.py
  scientific_library/tvb/simulator/plot/plotter.py
  scientific_library/tvb/simulator/plot/power_spectra_interactive.py
  scientific_library/tvb/simulator/plot/time_series_plotter.py
  scientific_library/tvb/simulator/plot/timeseries_interactive.py
  scientific_library/tvb/simulator/plot/utils.py
Labels: area/scilib, enhancement

#105 TVB-2551: Fixed everything that was written after the task has been reopened.
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework, bug

#94 TVB-2645 PSE Viewers
  framework_tvb/tvb/adapters/visualizers/pse_discrete.py
  framework_tvb/tvb/adapters/visualizers/pse_isocline.py
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/transient/pse.py
  framework_tvb/tvb/interfaces/web/controllers/burst/exploration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/pse_isocline/pse_isocline.js
  framework_tvb/tvb/tests/framework/adapters/analyzers/fft_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/pse_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/base_testcase.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/exploration_controller_test.py
Labels: area/framework

#102 TVB-2532 - Fix Creators (Large Conn, LocalConn, Stimulus)
  framework_tvb/tvb/adapters/creators/connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/visualizers/connectivity.py
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/static/js/spatial/base_spatial.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/local_connectivity.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/local_connectivity_step1_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step1_right.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step2_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_surface_step1_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_surface_step2_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/connectivity/scripts/matrixScript.js
Labels: area/framework, bug

#108 TVB-2653 - fix display default value
  framework_tvb/tvb/core/neotraits/forms.py
Labels: area/framework

#103 TVB-2627 Added Demo Notebooks for TVB REST client API
  tvb_documentation/demos/Demos.rst
  tvb_documentation/demos/figures/interact_client_api_operation.png
  tvb_documentation/demos/figures/interact_client_api_simulation.png
  tvb_documentation/demos/interacting_with_rest_api_fire_simulation.ipynb
  tvb_documentation/demos/interacting_with_rest_api_launch_operations.ipynb
Labels: area/framework, documentation

#56 TVB-2597 Fix some tests
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/utils.py
  framework_tvb/tvb/tests/framework/adapters/__init__.py
  framework_tvb/tvb/tests/framework/adapters/ndimensionarrayadapter.py
  framework_tvb/tvb/tests/framework/adapters/simulator/simulator_adapter_test.py
  framework_tvb/tvb/tests/framework/adapters/testadapter1.py
  framework_tvb/tvb/tests/framework/adapters/testadapter2.py
  framework_tvb/tvb/tests/framework/adapters/testadapter3.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/adapters/abcadapter_test.py
  framework_tvb/tvb/tests/framework/core/adapters/adapters_memory_usage_test.py
  framework_tvb/tvb/tests/framework/core/services/flow_service_test.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/core/utils_test.py
Labels: area/framework

#110 Put back tvb.analyzers.info
  scientific_library/tvb/analyzers/info.py
Labels: area/scilib, bug

#107 TVB-2658: Got rid of disturbing messages on Simulator Page
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/static/js/range.js
  framework_tvb/tvb/interfaces/web/static/js/stepsUpdate.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/dynamic.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/portlet_configure_parameters.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/portlet_visualization_template.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/portlets_preview.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/portlets_select.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/portlets_view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/genericAdapterFormFields.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/genericAdapterTemplateFunctions.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/__init__.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/array2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/boolean2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/datatype2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/datatype2select_simple.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/file2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/multipleselect2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/number2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/select2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/type2component/string2component.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/upload_data_overlay.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/included_resources.html
Labels: area/framework

#114 TVB-2662. Extend tvb-rest-client with helpers
  framework_tvb/setup_rest_client.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  framework_tvb/tvb/interfaces/rest/client/operation/operation_api.py
  framework_tvb/tvb/interfaces/rest/client/tvb_client.py
  framework_tvb/tvb/interfaces/rest/commons/dtos.py
Labels: area/framework, enhancement

#91 WIP: TVB-2555 Making sure that every parameter in the Simulator Loads correctly
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
Labels: area/framework

#120 TVB-2655. Fixes for REST part
  framework_tvb/tvb/interfaces/rest/client/operation/operation_api.py
  framework_tvb/tvb/interfaces/rest/server/facades/datatype_facade.py
Labels: area/framework

#109 TVB-2537. Serialize BurstConfiguration and fix import/export simulation
  framework_tvb/tvb/adapters/simulator/range_parameter.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/entities/file/simulator/burst_configuration_h5.py
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/burst_history.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/upload_burst_overlay.html
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/burst_service_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#118 TVB-2581: Improve LocalConnectivity creator
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/equation_displayer.html
Labels: area/framework

#122 TVB-2581 Fix behavior of creators in TVB Web when launched in an empty project
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/core/entities/load.py
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/csv_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/obj_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/tvb_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/zip_surface_importer_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/entities/transactional_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/user_service_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/project_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework, bug

#117 TVB-2656 - Fix display for BCT visualisers
  framework_tvb/tvb/adapters/datatypes/db/graph.py
  framework_tvb/tvb/adapters/uploaders/connectivity_measure_importer.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/adapters/visualizers/topographic.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/connectivity_measure_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/connectivity_zip_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/csv_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/projection_matrix_importer_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
Labels: area/framework

#124 TVB-2617. Fix PhasePlane rendering
  framework_tvb/tvb/core/entities/file/simulator/burst_configuration_h5.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/region_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts_dynamic.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/stimulus_region.js
Labels: area/framework

#123 TVB-2674 and TVB-2667 Review users retrieval and project membership
  framework_tvb/tvb/core/entities/storage/project_dao.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/rest/client/tvb_client.py
  framework_tvb/tvb/interfaces/rest/client/user/user_api.py
  framework_tvb/tvb/interfaces/rest/server/facades/project_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/user_facade.py
  framework_tvb/tvb/interfaces/rest/server/resources/project/project_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/rest_resource.py
  framework_tvb/tvb/interfaces/rest/server/resources/user/user_resource.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/mat_timeseries_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/networkx_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/nifti_importer_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
  framework_tvb/tvb/tests/framework/core/services/user_service_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/project_controller_test.py
Labels: area/framework, enhancement

#125 TVB-2547: Cache vertices and vertex_normals to improve performance
  framework_tvb/tvb/adapters/datatypes/h5/surface_h5.py
Labels: area/framework

#116 TVB-2555: Fix Loading Parameters When Copying A Simulation
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/operation_async_launcher.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/jinja2_test.py
Labels: area/framework

#126 TVB-2678 Use TVBJsonEncoder on saving a new parameters configuration
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
Labels: bug

#127 TVB-2678: Worked on fixing the simulation default name in case of simulation copy
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
Labels: area/framework

#129 TVB-2606: cache metadata
  framework_tvb/tvb/core/neotraits/_h5accessors.py
  framework_tvb/tvb/core/neotraits/_h5core.py
Labels: area/framework, enhancement

#132 TVB-2681: fix rendering of selector in step 2 of local conn
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
Labels: area/framework

#131 TVB-2680 Fix Histogram Viewer
  framework_tvb/tvb/adapters/datatypes/db/fcd.py
  framework_tvb/tvb/adapters/datatypes/db/graph.py
  framework_tvb/tvb/adapters/datatypes/db/region_mapping.py
  framework_tvb/tvb/adapters/datatypes/db/structural.py
  framework_tvb/tvb/adapters/datatypes/h5/connectivity_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/graph_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/patterns_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/sensors_h5.py
  framework_tvb/tvb/adapters/visualizers/histogram.py
  framework_tvb/tvb/adapters/visualizers/topographic.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/entities/file/simulator/burst_configuration_h5.py
  framework_tvb/tvb/core/entities/file/simulator/monitor_h5.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/tests/framework/datatypes/dummy_datatype_h5.py
  scientific_library/tvb/datatypes/graph.py
Labels: area/framework
