Repository the-virtual-brain/tvb-root, pull requests merged in 2020-06, with the labels that each got.

#163 HBP-85 Trace user actions
  framework_tvb/tvb/config/logger/dev_logger_config.conf
  framework_tvb/tvb/config/logger/logger_config.conf
  framework_tvb/tvb/interfaces/web/controllers/autologging.py
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/exploration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/noise_configuration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/region_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/help/help_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/figure_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/settings_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  scientific_library/tvb/basic/config/profile_settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_build/docker/.tvb.configuration
Labels: area/framework

#159 TVB-2659: Make "Next" buttons accessible by keyboard
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/bool_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/checkbox_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/datatype_select_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/hidden_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/number_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/radio_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/select_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/str_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
Labels: area/framework

#165 TVB-2694 Integer input validation + part TVB-2728 ICA Fix
  framework_tvb/tvb/core/neotraits/forms.py
  scientific_library/tvb/analyzers/ica.py
Labels: area/framework

#166 HBP-89 Add a new entry in tvb config file for admins GID
  framework_tvb/tvb/core/entities/model/model_project.py
  scientific_library/tvb/basic/config/settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_build/docker/.tvb.configuration
Labels: area/framework

#168 TVB-2723: Review Copy Simulation Current Implementation
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/burst_history.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/main_burst.html
Labels: area/framework

#169 HBP-80 Fix profile page when there is no role assigned for the user
  framework_tvb/tvb/interfaces/web/templates/jinja2/user/profile.html
Labels: area/framework, bug

#170 HBP-80 Fix editing users for openshift platforms (where tvb config file is readonly)
  framework_tvb/tvb/core/services/user_service.py
Labels: area/framework, bug

#171 Don't show default admin in the user management page when keycloak login is enabled
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/core/entities/storage/project_dao.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/core/services/user_service.py
  framework_tvb/tvb/interfaces/rest/server/facades/user_facade.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
Labels: area/framework

#161 TVB-2722: Made buttons invisible after launching
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
Labels: area/framework

#162 WIP TVB-2687: Fix display of details for finished Operations in web GUI
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/datatypes/db/simulation_history.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/adapters/inputs_processor.py
  framework_tvb/tvb/core/entities/file/simulator/simulation_history_h5.py
  framework_tvb/tvb/core/entities/file/simulator/view_model.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/core/services/simulator_serializer.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/details_operation_overlay.html
  framework_tvb/tvb/tests/framework/adapters/analyzers/bct_test.py
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/adapters/simulator/simulator_adapter_test.py
  framework_tvb/tvb/tests/framework/core/entities/file/datatypes/neotraits_h5_test.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_model_parameters_controller_test.py
Labels: area/framework

#176 TVB-2663 Remove tvb.adapter dependency from model_operation
  framework_tvb/tvb/adapters/simulator/form_with_ranges.py
  framework_tvb/tvb/adapters/simulator/noise_forms.py
  framework_tvb/tvb/adapters/simulator/range_parameters.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/entities/model/model_operation.py
  framework_tvb/tvb/core/entities/transient/range_parameter.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
Labels: area/framework, enhancement

#175 TVB-2709 Fix launching simulations using EpileptorCodim3 models on Windows
  scientific_library/tvb/simulator/models/epileptorcodim3.py
Labels: area/scilib, bug

#174 TVB-2690 RegionSelector does not preserve hemisphere ordering
  framework_tvb/tvb/interfaces/web/static/js/spatial/stimulus.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/model_param_region.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/noise.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step2_left.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/connectivity/left_template_connectivity_view.html
Labels: area/framework, bug

#179 TVB-2663 Fix tvb.core - tvb.adapter dependency
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/adapters/visualizers/pse.py
  framework_tvb/tvb/adapters/visualizers/pse_discrete.py
  framework_tvb/tvb/adapters/visualizers/pse_isocline.py
  framework_tvb/tvb/config/__init__.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/tests/framework/adapters/analyzers/timeseries_metrics_adapter_test.py
Labels: area/framework

#164 TVB-2724: implement cancel and remove of burst
  framework_tvb/tvb/adapters/analyzers/metrics_group_timeseries.py
  framework_tvb/tvb/adapters/creators/connectivity_creator.py
  framework_tvb/tvb/adapters/visualizers/connectivity.py
  framework_tvb/tvb/core/code_versions/code_update_scripts/4455_update_code.py
  framework_tvb/tvb/core/code_versions/code_update_scripts/4750_update_code.py
  framework_tvb/tvb/core/code_versions/code_update_scripts/6093_update_code.py
  framework_tvb/tvb/core/entities/storage/burst_dao.py
  framework_tvb/tvb/core/services/algorithm_service.py
  framework_tvb/tvb/core/services/burst_config_serialization.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/command/demos/importers/h5_import.py
  framework_tvb/tvb/interfaces/command/demos/importers/new_importer_launcher.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_analyzer.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_simulation.py
  framework_tvb/tvb/interfaces/command/lab.py
  framework_tvb/tvb/interfaces/rest/server/facades/datatype_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/operation_facade.py
  framework_tvb/tvb/interfaces/rest/server/facades/simulation_facade.py
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/exploration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/static/js/genericTVB.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/viewoperations.html
  framework_tvb/tvb/tests/framework/adapters/creators/stimulus_creator_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/factory.py
  framework_tvb/tvb/tests/framework/core/services/algorithm_service_test.py
  framework_tvb/tvb/tests/framework/core/services/burst_service_test.py
  framework_tvb/tvb/tests/framework/core/services/links_test.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/core/services/remove_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  scientific_library/tvb/tests/library/basic/neotraits/neotraits_test.py
Labels: area/framework

#155 TVB-2703. Improve Simulation Configure - Persist - Launch flow
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/datatypes/db/projections.py
  framework_tvb/tvb/adapters/datatypes/db/sensors.py
  framework_tvb/tvb/adapters/datatypes/db/surface.py
  framework_tvb/tvb/adapters/datatypes/h5/projections_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/sensors_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/surface_h5.py
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/adapters/uploaders/projection_matrix_importer.py
  framework_tvb/tvb/config/init/datatypes_registry.py
  framework_tvb/tvb/core/adapters/abcadapter.py
  framework_tvb/tvb/core/adapters/inputs_processor.py
  framework_tvb/tvb/core/entities/file/simulator/configurations_h5.py
  framework_tvb/tvb/core/entities/file/simulator/cortex_h5.py
  framework_tvb/tvb/core/entities/file/simulator/coupling_h5.py
  framework_tvb/tvb/core/entities/file/simulator/h5_factory.py
  framework_tvb/tvb/core/entities/file/simulator/integrator_h5.py
  framework_tvb/tvb/core/entities/file/simulator/model_h5.py
  framework_tvb/tvb/core/entities/file/simulator/monitor_h5.py
  framework_tvb/tvb/core/entities/file/simulator/noise_h5.py
  framework_tvb/tvb/core/entities/file/simulator/simulator_h5.py
  framework_tvb/tvb/core/entities/file/simulator/view_model.py
  framework_tvb/tvb/core/neocom/_h5loader.py
  framework_tvb/tvb/core/neocom/_registry.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/neotraits/_h5accessors.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/neotraits/db.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/neotraits/h5.py
  framework_tvb/tvb/core/neotraits/view_model.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/simulator_serializer.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_simulation.py
  framework_tvb/tvb/interfaces/command/lab.py
  framework_tvb/tvb/interfaces/rest/client/simulator/simulation_api.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/entities/file/files_helper_test.py
  framework_tvb/tvb/tests/framework/core/neocom_test.py
  framework_tvb/tvb/tests/framework/interfaces/rest/simulation_resource_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_stimulus_controller_test.py
  scientific_library/tvb/basic/neotraits/_attr.py
  scientific_library/tvb/basic/neotraits/ex.py
  scientific_library/tvb/datatypes/projections.py
  scientific_library/tvb/datatypes/sensors.py
Labels: area/framework

#167 TVB-2728: Fixed ICA Analyzer
  scientific_library/tvb/analyzers/ica_algorithm.py
Labels: area/framework, area/scilib, bug
