Repository the-virtual-brain/tvb-root, pull requests merged in 2021-09, with the labels that each got.

#456 TVB-2889: Suppress numpy warnings
  scientific_library/tvb/tests/library/datatypes/sensors_test.py
  scientific_library/tvb/tests/library/datatypes/surfaces_test.py
  scientific_library/tvb/tests/library/simulator/backend/nbbackend_mpr_test.py
  scientific_library/tvb/tests/library/simulator/monitors_test.py
  scientific_library/tvb/tests/library/simulator/simulator_test.py
Labels: area/scilib

#365 Modification Wilson Cowan for reproducibility
  scientific_library/tvb/simulator/models/wilson_cowan.py
  tvb_documentation/demos/figures/figure_4_wilson_1992.png
  tvb_documentation/demos/figures/figure_A1_Daffertshofer_2011.jpg
  tvb_documentation/demos/remake_figure_WilsonCowan.ipynb
Labels: area/scilib

#458 TVB-2963 pulse train fix
  scientific_library/tvb/datatypes/equations.py
  scientific_library/tvb/tests/library/datatypes/equations_test.py
Labels: bug, area/scilib

#469 TVB-2968: Add Cortex.Coupling_Strength as a range parameter
  framework_tvb/tvb/adapters/simulator/range_parameters.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
Labels: area/framework

#419 NFS-18. Review Cortex and full_region_map usage
  scientific_library/tvb/datatypes/connectivity.py
  scientific_library/tvb/datatypes/cortex.py
  scientific_library/tvb/simulator/backend/ref.py
  scientific_library/tvb/simulator/history.py
  scientific_library/tvb/simulator/monitors.py
  scientific_library/tvb/simulator/simulator.py
  scientific_library/tvb/tests/library/base_testcase.py
  scientific_library/tvb/tests/library/datatypes/surfaces_test.py
  scientific_library/tvb/tests/library/simulator/coupling_test.py
  scientific_library/tvb/tests/library/simulator/monitors_test.py
  scientific_library/tvb/tests/library/simulator/regionmapping_test.py
  scientific_library/tvb/tests/library/simulator/simulator_test.py
  scientific_library/tvb/tests/library/simulator/stimulation_test.py
Labels: area/scilib

#346 TVB-2849 - implement import/export for simulation group
  framework_tvb/tvb/adapters/exporters/abcexporter.py
  framework_tvb/tvb/adapters/exporters/tvb_export.py
  framework_tvb/tvb/adapters/exporters/tvb_linked_export.py
  framework_tvb/tvb/adapters/uploaders/tvb_importer.py
  framework_tvb/tvb/core/entities/file/file_update_scripts/005_update_files.py
  framework_tvb/tvb/core/entities/storage/datatype_dao.py
  framework_tvb/tvb/core/services/exceptions.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/tvb_importer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/brainviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/conftest.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/pse_test.py
  framework_tvb/tvb/tests/framework/conftest.py
  framework_tvb/tvb/tests/framework/core/services/algorithm_service_test.py
  framework_tvb/tvb/tests/framework/core/services/operation_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/exploration_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
  tvb_storage/tvb/storage/storage_interface.py
Labels: area/framework

#475 TVB-2971: Limit the number of PSE operations.
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
Labels: area/framework

#476 TVB-2972: Fix Tumor Dataset Importer.
  framework_tvb/tvb/adapters/creators/tumor_dataset_creator.py
Labels: area/framework

#471 HBP-146: Handle export feature when security is active
  framework_tvb/tvb/adapters/exporters/abcexporter.py
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/adapters/exporters/tvb_export.py
  framework_tvb/tvb/adapters/exporters/tvb_linked_export.py
  framework_tvb/tvb/core/adapters/abcuploader.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/dynamic.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/burst/dynamic_sliders.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/flow/generate_help_tooltip.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/form_field.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/generate_help_tooltip.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/test1.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/details_datatype_overlay.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/spatial/spatial_fragment.html
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/encrypt_decrypt_test.py
  tvb_documentation/demos/encrypt_data.ipynb
  tvb_documentation/demos/export_encrypt_decrypt_data.ipynb
  tvb_storage/tvb/storage/h5/encryption/import_export_encryption_handler.py
  tvb_storage/tvb/storage/storage_interface.py
Labels: area/framework

#478 TVB-2973: Fix rest tests.
  framework_tvb/tvb/interfaces/rest/client/operation/operation_api.py
Labels: area/framework

#477 TVB-2934: Review HPC encryption exposed in the StorageInterface
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/core/operation_hpc_launcher.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/interfaces/web/controllers/hpc_controller.py
  framework_tvb/tvb/tests/framework/adapters/uploaders/encrypt_decrypt_test.py
  framework_tvb/tvb/tests/framework/core/services/hpc_scheduler_client_test.py
  tvb_storage/tvb/storage/h5/encryption/encryption_handler.py
  tvb_storage/tvb/storage/storage_interface.py
Labels: area/framework

#450 TVB-2930 + TVB-2931 : Solved project deletion issues
  framework_tvb/tvb/adapters/exporters/abcexporter.py
  framework_tvb/tvb/adapters/exporters/tvb_export.py
  framework_tvb/tvb/adapters/exporters/tvb_linked_export.py
  framework_tvb/tvb/config/__init__.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/storage/project_dao.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/services/algorithm_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/static/js/projectTree.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/project/linkable_projects.html
  framework_tvb/tvb/tests/framework/core/services/links_test.py
  framework_tvb/tvb/tests/framework/core/services/project_service_test.py
  framework_tvb/tvb/tests/framework/core/services/project_structure_test.py
  framework_tvb/tvb/tests/framework/core/services/remove_test.py
  tvb_storage/tvb/storage/storage_interface.py
Labels: area/framework
