Repository the-virtual-brain/tvb-root, pull requests merged in 2021-01, with the labels that each got.

#286 TVB-2523 Prepare MAC distribution
  framework_tvb/tvb/interfaces/command/demos/operations/run_analyzer.py
  framework_tvb/tvb/interfaces/command/demos/operations/run_simulation.py
  scientific_library/tvb/basic/config/environment.py
  tvb_build/Jenkinsfile-Mac
  tvb_build/conda_env_to_app.py
  tvb_build/info.plist
  tvb_build/mac_conda_env.sh
  tvb_build/setup_mac.py
Labels: area/framework

#342 TVB-2861: display inputs for all operations
  framework_tvb/tvb/core/adapters/inputs_processor.py
Labels: area/framework

#344 Docs website design update
  tvb_documentation/index.rst
  tvb_documentation/manuals/UserGuide/UserGuide-UI.rst
  tvb_documentation/tutorials/Tutorials.rst
Labels: documentation

#349 TVB-2862 Clean files uploaded via REST uploaders
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/interfaces/rest/server/facades/operation_facade.py
Labels: bug

#350 TVB-2858 Fix TS importing
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/adapters/exporters/tvb_export.py
  framework_tvb/tvb/adapters/exporters/tvb_linked_export.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
Labels: area/framework, bug

#343 TVB-2855: Fixed Tracts Importers and Visualizer
  framework_tvb/tvb/adapters/datatypes/h5/region_mapping_h5.py
  framework_tvb/tvb/adapters/datatypes/h5/tracts_h5.py
  framework_tvb/tvb/adapters/uploaders/tract_importer.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/adapters/visualizers/complex_imaginary_coherence.py
  framework_tvb/tvb/adapters/visualizers/local_connectivity_view.py
  framework_tvb/tvb/adapters/visualizers/pca.py
  framework_tvb/tvb/adapters/visualizers/pearson_edge_bundle.py
  framework_tvb/tvb/adapters/visualizers/region_volume_mapping.py
  framework_tvb/tvb/adapters/visualizers/sensors.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/adapters/visualizers/time_series_volume.py
  framework_tvb/tvb/adapters/visualizers/tract.py
  framework_tvb/tvb/adapters/visualizers/wavelet_spectrogram.py
  framework_tvb/tvb/core/adapters/abcdisplayer.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/brain/internal_view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/brain/view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/internalBrain.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/commons/scripts/virtualBrain.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/sensors/sensors_eeg.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/sensors/sensors_internal.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/surface/surface_view.html
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/tract/track.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/tract/tract_view.html
  framework_tvb/tvb/tests/framework/adapters/visualizers/brainviewer_test.py
  framework_tvb/tvb/tests/framework/adapters/visualizers/sensorsviewer_test.py
  scientific_library/tvb/datatypes/tracts.py
Labels: area/framework

#345 TVB-2415 Handle tvb version in build step 1
  framework_tvb/tvb/config/profile_settings.py
  framework_tvb/tvb/core/code_versions/code_update_manager.py
  framework_tvb/tvb/core/services/settings_service.py
  scientific_library/tvb/basic/config/environment.py
  scientific_library/tvb/basic/config/settings.py
  scientific_library/tvb/basic/config/tvb.version
  tvb_build/Jenkinsfile-Step1
  tvb_build/build_step1.py
Labels: area/framework

#301 TVB-2670: Review Code in Simulator/Burst Controllers and Simulator/Burst Services
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/adapters/simulator/subforms_mapping.py
  framework_tvb/tvb/core/entities/file/simulator/view_model.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/rest/server/facades/operation_facade.py
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/noise_configuration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/region_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/common.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/__init__.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_fragment_rendering_rules.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_wizzard_urls.py
  framework_tvb/tvb/interfaces/web/controllers/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  framework_tvb/tvb/interfaces/web/entities/context_simulator.py
  framework_tvb/tvb/interfaces/web/run.py
  framework_tvb/tvb/tests/framework/core/services/burst_service_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/noise_configuration_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/region_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/surface_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/jinja2_test.py
Labels: area/framework

#356 TVB-2869: Convert string booleans to booleans when applying filters
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
Labels: area/framework
