Repository the-virtual-brain/tvb-root, pull requests merged in 2021-10, with the labels that each got.

#479 TVB-2974: Fix issues discovered during sprint-end testing.
  framework_tvb/tvb/adapters/analyzers/fmri_balloon_adapter.py
  framework_tvb/tvb/adapters/creators/tumor_dataset_creator.py
  framework_tvb/tvb/adapters/simulator/integrator_forms.py
  framework_tvb/tvb/adapters/simulator/range_parameters.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/rest/client/examples/fire_simulation.py
  scientific_library/tvb/simulator/monitors.py
Labels: bug, area/framework

#481 TVB-2974: Fix issues discovered during sprint-end testing. - Part 2
  framework_tvb/tvb/core/entities/file/file_update_scripts/005_update_files.py
  framework_tvb/tvb/core/neotraits/_h5accessors.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  tvb_documentation/demos/display_surface_local_connectivity.ipynb
  tvb_documentation/demos/exploring_a_surface_mesh.ipynb
  tvb_documentation/demos/generate_ts_h5_from_library.ipynb
  tvb_documentation/demos/interacting_with_Allen.ipynb
  tvb_documentation/demos/interacting_with_rest_api_fire_simulation.ipynb
  tvb_documentation/demos/interacting_with_rest_api_launch_operations.ipynb
  tvb_documentation/demos/simulate_seeg_from_epileptors_with_observation_noise.ipynb
  tvb_documentation/demos/simulate_surface_seeg_eeg_meg.ipynb
  tvb_documentation/demos/simulate_zerlaut.ipynb
Labels: bug

#490 TVB-2974. Fix bugs found after testing distribution.
  framework_tvb/tvb/adapters/visualizers/matrix_viewer.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  tvb_documentation/RELEASE_NOTES
Labels: area/framework
