Repository the-virtual-brain/tvb-root, pull requests merged in 2021-11, with the labels that each got.

#487 TVB-2977: Rendering Simulator params with MathJax.
  framework_tvb/tvb/adapters/simulator/equation_forms.py
  framework_tvb/tvb/adapters/simulator/form_with_ranges.py
  framework_tvb/tvb/adapters/simulator/model_forms.py
  framework_tvb/tvb/core/neotraits/forms.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/static/js/spatial/model_parameters.js
  framework_tvb/tvb/interfaces/web/templates/jinja2/form_fields/label_field.html
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  scientific_library/tvb/datatypes/equations.py
  scientific_library/tvb/simulator/models/epileptor.py
  scientific_library/tvb/simulator/models/epileptor_rs.py
  scientific_library/tvb/simulator/models/hopfield.py
  scientific_library/tvb/simulator/models/infinite_theta.py
  scientific_library/tvb/simulator/models/jansen_rit.py
  scientific_library/tvb/simulator/models/larter_breakspear.py
  scientific_library/tvb/simulator/models/oscillator.py
  scientific_library/tvb/simulator/models/stefanescu_jirsa.py
  scientific_library/tvb/simulator/models/wilson_cowan.py
  scientific_library/tvb/simulator/models/wong_wang_exc_inh.py
  scientific_library/tvb/simulator/models/zerlaut.py
Labels: area/framework

#510 Bug fixing + improvements on Surface model page.
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/static/js/bursts.js
  framework_tvb/tvb/interfaces/web/static/js/bursts_dynamic.js
  framework_tvb/tvb/interfaces/web/static/js/genericTVB.js
  framework_tvb/tvb/interfaces/web/static/js/spatial/model_parameters.js
Labels: bug, area/framework

#508 HBP-165 Common landing page
  framework_tvb/tvb/interfaces/web/run_landing_page.py
  framework_tvb/tvb/interfaces/web/templates/landing_page/landing.html
Labels: enhancement, area/framework

#515 TVB-2989 Fix urls without a context path
  framework_tvb/tvb/interfaces/web/static/js/genericTVB.js
Labels: bug, area/framework

#514 Transposing Allen connectome for TVB connectivity
  framework_tvb/tvb/adapters/creators/allen_creator.py
Labels: bug

#516 Corrected bugs with new lines in equations.py string expressions.
  scientific_library/tvb/datatypes/equations.py
Labels: bug, documentation, area/scilib
