Repository the-virtual-brain/tvb-root, pull requests merged in 2021-12, with the labels that each got.

#519 HBP-178 Extend the common landing page with links towards prototypes
  framework_tvb/tvb/interfaces/web/run_landing_page.py
  framework_tvb/tvb/interfaces/web/static/style/section_user.css
  framework_tvb/tvb/interfaces/web/templates/landing_page/landing.html
  tvb_build/hbp_openshift_deployer/.tvb.landing.page.configuration
Labels: documentation, enhancement, area/framework

#520 removed mpl_toolkits - not a standalone package
  scientific_library/setup.py
Labels: bug, area/scilib

#527 Move forms to a new directory
  framework_tvb/tvb/adapters/creators/local_connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/forms/__init__.py
  framework_tvb/tvb/adapters/forms/coupling_forms.py
  framework_tvb/tvb/adapters/forms/equation_forms.py
  framework_tvb/tvb/adapters/forms/equation_plot_forms.py
  framework_tvb/tvb/adapters/forms/form_with_ranges.py
  framework_tvb/tvb/adapters/forms/integrator_forms.py
  framework_tvb/tvb/adapters/forms/model_forms.py
  framework_tvb/tvb/adapters/forms/monitor_forms.py
  framework_tvb/tvb/adapters/forms/noise_forms.py
  framework_tvb/tvb/adapters/forms/simulator_fragments.py
  framework_tvb/tvb/adapters/forms/surface_model_parameters_form.py
  framework_tvb/tvb/adapters/simulator/range_parameters.py
  framework_tvb/tvb/adapters/simulator/simulator_adapter.py
  framework_tvb/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/matjax.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/monitors_wizard_handler.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/region_stimulus_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_stimulus_controller.py
  framework_tvb/tvb/tests/framework/adapters/creators/stimulus_creator_test.py
  framework_tvb/tvb/tests/framework/core/services/serialization_manager_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/region_model_parameters_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/jinja2_test.py
Labels: enhancement, area/framework
