Repository the-virtual-brain/tvb-root, pull requests merged in 2021-02, with the labels that each got.

#358 TVB-2859: Fix surface visualizer with region boundaries
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/surface/surface_viewer_controls.html
Labels: area/framework

#360 TVB-2873: Keep Prev/Next buttons at the same position
  framework_tvb/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
Labels: area/framework

#352 Tvb cosim consensus
  scientific_library/tvb/simulator/coupling.py
  scientific_library/tvb/simulator/models/oscillator.py
  scientific_library/tvb/simulator/models/wong_wang_exc_inh.py
  scientific_library/tvb/simulator/plot/config.py
  scientific_library/tvb/simulator/simulator.py
  tvb_contrib/tvb/contrib/cosimulation/__init__.py
  tvb_contrib/tvb/contrib/cosimulation/cosim_history.py
  tvb_contrib/tvb/contrib/cosimulation/cosim_monitors.py
  tvb_contrib/tvb/contrib/cosimulation/cosimulator.py
  tvb_contrib/tvb/contrib/cosimulation/exception.py
  tvb_contrib/tvb/contrib/scripts/models/__init__.py
  tvb_contrib/tvb/contrib/scripts/models/linear_reduced_wong_wang_exc_io.py
  tvb_contrib/tvb/contrib/scripts/models/linear_with_stimulus.py
  tvb_contrib/tvb/contrib/scripts/models/reduced_wong_wang_exc_io.py
  tvb_contrib/tvb/contrib/scripts/models/reduced_wong_wang_exc_io_inh_i.py
  tvb_contrib/tvb/contrib/scripts/models/spiking_wong_wang_exc_io_inh_i.py
  tvb_contrib/tvb/contrib/scripts/models/wilson_cowan_constraint.py
  tvb_contrib/tvb/contrib/scripts/utils/data_structures_utils.py
  tvb_contrib/tvb/contrib/tests/__init__.py
  tvb_contrib/tvb/contrib/tests/cosimulation/__init__.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/ReducedWongWang.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/__init__.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/double_proxy_precision_complex_delay_update_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/double_proxy_precision_complex_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/double_proxy_precision_simple_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/function_tvb.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/modify_wongwang_precision_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/monitors_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/proxy_precision_bad_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/proxy_precision_delay_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/proxy_precision_delay_update_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/proxy_precision_multiple_delay_update_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/proxy_precision_multiple_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/proxy_precision_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/parallel/update_function_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/__init__.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/double_proxy_precision_complex_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/double_proxy_precision_simple_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/modify_wongwang_precision_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/modify_wongwang_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/proxy_precision_delay_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/proxy_precision_multiple_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/proxy_precision_test.py
  tvb_contrib/tvb/contrib/tests/cosimulation/simple/update_function_test.py
Labels: area/scilib, prio/hi

#359 TVB-2442: Replace SQL-Migrate with Alembic
  .github/workflows/tests.yml
  framework_tvb/setup.py
  framework_tvb/setup_rest_client.py
  framework_tvb/tvb/config/init/alembic/env.py
  framework_tvb/tvb/config/init/alembic/versions/__init__.py
  framework_tvb/tvb/config/init/alembic/versions/ec2859bb9114_update_db_001.py
  framework_tvb/tvb/config/init/model_manager.py
  framework_tvb/tvb/core/entities/file/file_update_scripts/005_update_files.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/001_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/002_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/003_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/004_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/005_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/006_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/007_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/008_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/009_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/010_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/011_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/012_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/013_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/014_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/015_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/016_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/017_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/018_update_db.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/__init__.py
  framework_tvb/tvb/core/entities/model/db_update_scripts/helper.py
  scientific_library/tvb/basic/config/settings.py
  tvb_build/docker/Dockerfile-Windows-build
  tvb_build/docker/Dockerfile-build
  tvb_build/docker/Dockerfile-run
  tvb_build/docker/Dockerfile-test
  tvb_build/mac_conda_env.sh
Labels: area/framework

#353 TVB-2870: Move everything related to monitors handling in a new class
  framework_tvb/tvb/adapters/simulator/monitor_forms.py
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/monitors_wizard_handler.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#357 TVB-HPC integration code review
  framework_tvb/tvb/adapters/datatypes/db/graph.py
  framework_tvb/tvb/adapters/datatypes/db/simulation_history.py
  framework_tvb/tvb/adapters/datatypes/db/time_series.py
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/adapters/simulator/hpc_simulator_adapter.py
  framework_tvb/tvb/core/entities/model/model_datatype.py
  framework_tvb/tvb/core/entities/storage/operation_dao.py
  framework_tvb/tvb/core/neocom/_h5loader.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/neotraits/h5.py
  framework_tvb/tvb/core/operation_hpc_launcher.py
  framework_tvb/tvb/core/services/backend_client_factory.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/encryption_handler.py
  framework_tvb/tvb/core/services/hpc_operation_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/web/controllers/autologging.py
  scientific_library/tvb/basic/config/settings.py
  tvb_bin/hpcLauncher
Labels: area/framework

#363 HBP-134 Avoid wrong adapter dependencies
  framework_tvb/tvb/adapters/simulator/hpc_simulator_adapter.py
  framework_tvb/tvb/core/operation_hpc_launcher.py
  framework_tvb/tvb/core/services/backend_client_factory.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/tests/framework/core/services/hpc_scheduler_client_test.py
Labels: area/framework

#355 TVB-2871: Replace usage of load_h5_of_gid with something more suitable.
  framework_tvb/tvb/adapters/analyzers/bct_adapters.py
  framework_tvb/tvb/adapters/analyzers/fcd_adapter.py
  framework_tvb/tvb/adapters/analyzers/fourier_adapter.py
  framework_tvb/tvb/adapters/creators/connectivity_creator.py
  framework_tvb/tvb/adapters/creators/stimulus_creator.py
  framework_tvb/tvb/adapters/datatypes/h5/time_series_h5.py
  framework_tvb/tvb/adapters/exporters/tvb_linked_export.py
  framework_tvb/tvb/adapters/uploaders/brco_importer.py
  framework_tvb/tvb/adapters/uploaders/connectivity_measure_importer.py
  framework_tvb/tvb/adapters/uploaders/csv_connectivity_importer.py
  framework_tvb/tvb/adapters/uploaders/projection_matrix_importer.py
  framework_tvb/tvb/adapters/uploaders/region_mapping_importer.py
  framework_tvb/tvb/adapters/uploaders/tract_importer.py
  framework_tvb/tvb/adapters/visualizers/annotations_viewer.py
  framework_tvb/tvb/adapters/visualizers/brain.py
  framework_tvb/tvb/adapters/visualizers/complex_imaginary_coherence.py
  framework_tvb/tvb/adapters/visualizers/connectivity.py
  framework_tvb/tvb/adapters/visualizers/cross_coherence.py
  framework_tvb/tvb/adapters/visualizers/fourier_spectrum.py
  framework_tvb/tvb/adapters/visualizers/local_connectivity_view.py
  framework_tvb/tvb/adapters/visualizers/matrix_viewer.py
  framework_tvb/tvb/adapters/visualizers/pca.py
  framework_tvb/tvb/adapters/visualizers/pearson_cross_correlation.py
  framework_tvb/tvb/adapters/visualizers/pearson_edge_bundle.py
  framework_tvb/tvb/adapters/visualizers/region_volume_mapping.py
  framework_tvb/tvb/adapters/visualizers/sensors.py
  framework_tvb/tvb/adapters/visualizers/surface_view.py
  framework_tvb/tvb/adapters/visualizers/time_series.py
  framework_tvb/tvb/adapters/visualizers/time_series_volume.py
  framework_tvb/tvb/adapters/visualizers/tract.py
  framework_tvb/tvb/adapters/visualizers/wavelet_spectrogram.py
  framework_tvb/tvb/core/adapters/abcdisplayer.py
  framework_tvb/tvb/core/entities/load.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/burst/noise_configuration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/region_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/local_connectivity_controller.py
  framework_tvb/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/templates/jinja2/visualizers/time_series_volume/scripts/timeseriesFragment.js
  framework_tvb/tvb/tests/framework/adapters/uploaders/nifti_importer_test.py
Labels: area/framework

#362 TVB-2876: Fix integrator choice in PhasePlane
  framework_tvb/tvb/adapters/simulator/simulator_fragments.py
  framework_tvb/tvb/adapters/simulator/subforms_mapping.py
  framework_tvb/tvb/core/neotraits/forms.py
Labels: area/framework

#364 TVB-2875: Define a Jenkins job to test migration from 1.5.8
  framework_tvb/tvb/config/init/initializer.py
  framework_tvb/tvb/core/entities/file/file_update_scripts/005_update_files.py
  framework_tvb/tvb/core/entities/file/files_update_manager.py
  tvb_bin/run_migration.py
  tvb_build/Jenkinsfile-Migrate
  tvb_build/docker/Dockerfile-migrate
Labels: area/framework

#366 TVB-2874&TVB-2880: Fix import of branched simulation, export only view models
  framework_tvb/tvb/adapters/exporters/export_manager.py
  framework_tvb/tvb/core/neocom/_h5loader.py
  framework_tvb/tvb/core/neocom/h5.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/simulator_service.py
  framework_tvb/tvb/interfaces/web/controllers/burst/region_model_parameters_controller.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
  framework_tvb/tvb/interfaces/web/entities/context_simulator.py
  framework_tvb/tvb/tests/framework/adapters/exporters/exporters_test.py
  framework_tvb/tvb/tests/framework/core/neocom_test.py
  framework_tvb/tvb/tests/framework/interfaces/web/controllers/simulator_controller_test.py
Labels: area/framework

#368 TVB-2887: Solved bug related to TimeSeriesVolumeVisualiser
  framework_tvb/tvb/adapters/visualizers/time_series_volume.py
Labels: area/framework

#370 Remove duplicated code from simulator.py
  .github/workflows/tests.yml
  scientific_library/tvb/simulator/simulator.py
Labels: area/scilib

#229 HBP-113 Encrypt data at rest
  framework_tvb/tvb/adapters/simulator/hpc_simulator_adapter.py
  framework_tvb/tvb/core/entities/file/data_encryption_handler.py
  framework_tvb/tvb/core/entities/file/files_helper.py
  framework_tvb/tvb/core/entities/file/hdf5_storage_manager.py
  framework_tvb/tvb/core/neotraits/_h5core.py
  framework_tvb/tvb/core/operation_async_launcher.py
  framework_tvb/tvb/core/services/backend_clients/hpc_scheduler_client.py
  framework_tvb/tvb/core/services/backend_clients/standalone_client.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/figure_service.py
  framework_tvb/tvb/core/services/hpc_operation_service.py
  framework_tvb/tvb/core/services/import_service.py
  framework_tvb/tvb/core/services/project_service.py
  framework_tvb/tvb/interfaces/web/controllers/base_controller.py
  framework_tvb/tvb/interfaces/web/controllers/burst/exploration_controller.py
  framework_tvb/tvb/interfaces/web/controllers/flow_controller.py
  framework_tvb/tvb/interfaces/web/controllers/project/project_controller.py
  framework_tvb/tvb/interfaces/web/controllers/users_controller.py
  framework_tvb/tvb/interfaces/web/run.py
  scientific_library/tvb/basic/config/settings.py
  scientific_library/tvb/basic/config/stored.py
  tvb_bin/hpcLauncher
  tvb_build/docker/.tvb.configuration
  tvb_build/docker/Dockerfile-build
  tvb_build/docker/Dockerfile-run
  tvb_build/docker/Dockerfile-test
Labels: area/framework, enhancement

#369 TVB-2881: Solved issue which appears when removing a PSE simulation.
  framework_tvb/tvb/core/entities/model/model_burst.py
  framework_tvb/tvb/core/services/burst_service.py
  framework_tvb/tvb/core/services/operation_service.py
  framework_tvb/tvb/interfaces/web/controllers/simulator/simulator_controller.py
Labels: area/framework
