Repository the-virtual-brain/tvb-root, pull requests merged in 2022-07, with the labels that each got.

#529 TVB-2980: Create page for applying a vector of values with a TF to Model Params
  tvb_framework/tvb/adapters/forms/equation_forms.py
  tvb_framework/tvb/adapters/forms/equation_plot_forms.py
  tvb_framework/tvb/adapters/forms/transfer_vector_form.py
  tvb_framework/tvb/adapters/visualizers/histogram.py
  tvb_framework/tvb/adapters/visualizers/phase_plane_interactive.py
  tvb_framework/tvb/core/entities/storage/root_dao.py
  tvb_framework/tvb/core/services/backend_client_factory.py
  tvb_framework/tvb/core/services/import_service.py
  tvb_framework/tvb/interfaces/web/controllers/burst/transfer_vector_controller.py
  tvb_framework/tvb/interfaces/web/controllers/spatial/base_spatio_temporal_controller.py
  tvb_framework/tvb/interfaces/web/controllers/spatial/surface_model_parameters_controller.py
  tvb_framework/tvb/interfaces/web/entities/context_transfer_vector.py
  tvb_framework/tvb/interfaces/web/run.py
  tvb_framework/tvb/interfaces/web/static/js/bursts.js
  tvb_framework/tvb/interfaces/web/static/js/spatial/transfer_function_apply.js
  tvb_framework/tvb/interfaces/web/templates/jinja2/burst/region_associator.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/burst/transfer_function_apply.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/burst/transfer_function_apply_empty.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/simulator_fragment.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/spatial/model_param_surface_left.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step2_left.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/spatial/stimulus_region_step2_right.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/visualizers/commons/channel_selector_quick.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/visualizers/connectivity/main_connectivity.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/visualizers/histogram/view.html
  tvb_framework/tvb/tests/framework/conftest.py
  tvb_framework/tvb/tests/framework/core/services/project_structure_test.py
  tvb_framework/tvb/tests/framework/interfaces/web/controllers/transfer_vector_controller_test.py
  tvb_framework/tvb/tests/framework/interfaces/web/jinja2_test.py
  tvb_library/tvb/datatypes/equations.py
  tvb_library/tvb/tests/library/simulator/backend/nbbackend_mpr_test.py
Labels: enhancement, area/framework

#18 TVB-2579 Fix state variables reset on changing models
  tvb_framework/tvb/adapters/visualizers/phase_plane_interactive.py
Labels: area/framework

#580 TVB-3023 Mutable defaults
  tvb_library/tvb/analyzers/fmri_balloon.py
  tvb_library/tvb/basic/neotraits/_attr.py
  tvb_library/tvb/simulator/integrators.py
  tvb_library/tvb/simulator/monitors.py
  tvb_library/tvb/simulator/noise.py
  tvb_library/tvb/simulator/simulator.py
  tvb_library/tvb/tests/library/basic/neotraits/neotraits_test.py
Labels: bug, area/scilib, area/framework

#581 TVB-3026 Fix phase plane noise slider config
  tvb_documentation/tutorials/tutorial_s3_exploring_a_model.ipynb
  tvb_library/tvb/simulator/plot/phase_plane_interactive.py
Labels: bug, area/scilib

#578 TVB-2878 Implement Deepcopy
  tvb_framework/tvb/tests/framework/conftest.py
  tvb_library/tvb/analyzers/fmri_balloon.py
  tvb_library/tvb/basic/neotraits/_attr.py
  tvb_library/tvb/basic/neotraits/_core.py
  tvb_library/tvb/datatypes/time_series.py
  tvb_library/tvb/simulator/integrators.py
  tvb_library/tvb/simulator/monitors.py
  tvb_library/tvb/simulator/noise.py
  tvb_library/tvb/simulator/simulator.py
  tvb_library/tvb/tests/library/basic/neotraits/neotraits_test.py
Labels: enhancement, area/framework
