Repository the-virtual-brain/tvb-root, pull requests merged in 2022-08, with the labels that each got.

#584 TVB-3020: siibra integration: analysis and API proposal
  tvb_documentation/demos/siibra/06-SIIBRA-TVB_Updated.ipynb
  tvb_documentation/demos/siibra/siibra_tvb_api.ipynb
  tvb_documentation/demos/siibra/siibra_tvb_fc.ipynb
  tvb_documentation/demos/siibra/siibra_tvb_gene_expressions.ipynb
  tvb_documentation/demos/siibra/siibra_tvb_ieeg.ipynb
  tvb_documentation/demos/siibra/siibra_tvb_receptos_densisties.ipynb
Labels: enhancement

#577 TVB-2513 Maintain builds
  .github/workflows/build.yml
  .github/workflows/pg-tests.yml
  .github/workflows/win-tests.yml
  tvb_build/Jenkinsfile-Mac
  tvb_build/Jenkinsfile-Windows
  tvb_build/conda_env_to_app.py
  tvb_build/docker/Dockerfile-Windows-build
  tvb_build/docker/Dockerfile-win
  tvb_build/mac_conda_env.sh
  tvb_build/setup_mac.py
  tvb_framework/tvb/tests/framework/interfaces/web/controllers/flow_controller_test.py
  tvb_library/tvb/tests/library/simulator/backend/nbbackend_mpr_test.py
Labels: area/framework

#587 TVB-2966. Benchmarking script
  tvb_documentation/_static/benchmarks-NbMPRBackend.png
  tvb_documentation/doc_site/benchmarks/generate_benchmark_img.py
  tvb_documentation/doc_site/benchmarks/top_benchmarks.rst
  tvb_documentation/doc_site/benchmarks/tvb_2.6.1_mac.rst
  tvb_library/tvb/tests/bench_against_mpr_backend.py
Labels: area/scilib

#585 TVB-3027 Add siibra creator in TVB GUI
  .github/workflows/build.yml
  tvb_build/docker/requirements_group
  tvb_documentation/manuals/UserGuide/UserGuide-UI_Connectivity.rst
  tvb_documentation/manuals/UserGuide/screenshots/connectivity_area.jpg
  tvb_documentation/manuals/UserGuide/screenshots/siibra_connectivity.jpg
  tvb_framework/requirements.txt
  tvb_framework/setup.py
  tvb_framework/tvb/adapters/creators/__init__.py
  tvb_framework/tvb/adapters/creators/siibra_base.py
  tvb_framework/tvb/adapters/creators/siibra_creator.py
  tvb_framework/tvb/config/init/introspector_registry.py
  tvb_framework/tvb/core/entities/model/model_project.py
  tvb_framework/tvb/core/neotraits/forms.py
  tvb_framework/tvb/core/services/algorithm_service.py
  tvb_framework/tvb/interfaces/web/controllers/base_controller.py
  tvb_framework/tvb/interfaces/web/controllers/flow_controller.py
  tvb_framework/tvb/interfaces/web/controllers/help/help_config.py
  tvb_framework/tvb/interfaces/web/structure.py
  tvb_framework/tvb/tests/framework/adapters/creators/siibra_base_test.py
  tvb_framework/tvb/tests/framework/adapters/creators/siibra_creator_test.py
  tvb_framework/tvb/tests/framework/core/entities/transactional_test.py
Labels: enhancement, area/framework
