Repository the-virtual-brain/tvb-root, pull requests merged in 2022-11, with the labels that each got.

#611 HBP-189 Fixes for tvb-multiscale in tvb-contrib
  tvb_contrib/tvb/contrib/scripts/datatypes/time_series.py
  tvb_contrib/tvb/contrib/scripts/datatypes/time_series_xarray.py
  tvb_contrib/tvb/contrib/tests/scripts/time_series_test.py
Labels: bug

#612 TVB-2975 Update documentation
  tvb_documentation/manuals/UserGuide/UserGuide-UI_Project.rst
  tvb_documentation/manuals/UserGuide/UserGuide-UI_Simulator.rst
  tvb_documentation/manuals/UserGuide/screenshots/configure_new_sim.jpg
  tvb_documentation/manuals/UserGuide/screenshots/configure_new_sim_buttons.jpg
  tvb_documentation/manuals/UserGuide/screenshots/configure_noise_button.jpg
  tvb_documentation/manuals/UserGuide/screenshots/connectivity_area.jpg
  tvb_documentation/manuals/UserGuide/screenshots/connectivity_large_scale.jpg
  tvb_documentation/manuals/UserGuide/screenshots/data.jpg
  tvb_documentation/manuals/UserGuide/screenshots/data_graph.jpg
  tvb_documentation/manuals/UserGuide/screenshots/set_up_surface_model_button.jpg
  tvb_documentation/manuals/UserGuide/screenshots/simulator.jpg
  tvb_documentation/manuals/UserGuide/screenshots/simulator_configuration_buttons.jpg
  tvb_documentation/manuals/UserGuide/screenshots/simulator_history_edits.jpg
  tvb_documentation/manuals/UserGuide/screenshots/simulator_history_running.jpg
  tvb_documentation/manuals/UserGuide/screenshots/stimulus_region_set_scaling.jpg
Labels: documentation

#616 HBP-205 Replace usage of canvas.set_window_title
  tvb_contrib/tvb/contrib/scripts/datatypes/time_series_xarray.py
  tvb_contrib/tvb/contrib/tests/scripts/time_series_test.py
Labels: bug

#614 HBP-203. Add option to disable imports on projects and restrict operation size
  tvb_framework/tvb/config/init/alembic/versions/32d4bf9f8def_update_db_003.py
  tvb_framework/tvb/config/init/model_manager.py
  tvb_framework/tvb/core/entities/file/file_update_scripts/005_update_files.py
  tvb_framework/tvb/core/entities/file/files_update_manager.py
  tvb_framework/tvb/core/entities/model/db_update_scripts/helper.py
  tvb_framework/tvb/core/entities/model/model_project.py
  tvb_framework/tvb/core/services/operation_service.py
  tvb_framework/tvb/core/services/project_service.py
  tvb_framework/tvb/interfaces/web/controllers/base_controller.py
  tvb_framework/tvb/interfaces/web/controllers/flow_controller.py
  tvb_framework/tvb/interfaces/web/controllers/project/project_controller.py
  tvb_framework/tvb/interfaces/web/controllers/simulator/simulator_controller.py
  tvb_framework/tvb/interfaces/web/templates/jinja2/project/editone.html
  tvb_framework/tvb/interfaces/web/templates/jinja2/project/upload_data_overlay.html
  tvb_framework/tvb/tests/framework/conftest.py
  tvb_framework/tvb/tests/framework/core/factory.py
  tvb_framework/tvb/tests/framework/core/services/project_service_test.py
  tvb_framework/tvb/tests/framework/core/services/user_service_test.py
  tvb_framework/tvb/tests/framework/interfaces/web/controllers/project_controller_test.py
  tvb_library/tvb/basic/config/settings.py
Labels: area/framework

#617 TVB-3017 AllenSDK incompatibility
  tvb_build/Jenkinsfile-Mac
  tvb_build/docker/requirements_group
Labels: bug, area/framework

#618 TVB-3035 TVB-3017 matplotlib and requests-toolbelt version limitations
  tvb_framework/setup.py
Labels: bug, area/framework

#615 TVB-3042 TVB-3043 Fixes for SiibraCreator token handling
  tvb_framework/tvb/adapters/creators/siibra_creator.py
  tvb_framework/tvb/core/adapters/inputs_processor.py
  tvb_framework/tvb/core/entities/model/model_project.py
  tvb_framework/tvb/core/neotraits/forms.py
  tvb_framework/tvb/core/services/algorithm_service.py
  tvb_framework/tvb/interfaces/web/controllers/users_controller.py
Labels: enhancement, area/framework

#620 TVB-3041: Fix equations not showing in PhasePlane page
  tvb_framework/tvb/interfaces/web/controllers/burst/matjax.py
  tvb_framework/tvb/interfaces/web/templates/jinja2/burst/dynamic.html
Labels: documentation, enhancement, area/framework

#619 TVB-3039 Distribution fixes
  tvb_build/docker/requirements_group
  tvb_framework/setup.py
  tvb_framework/tvb/adapters/visualizers/connectivity_edge_bundle.py
  tvb_framework/tvb/adapters/visualizers/histogram.py
  tvb_framework/tvb/adapters/visualizers/pca.py
  tvb_framework/tvb/adapters/visualizers/pearson_cross_correlation.py
  tvb_framework/tvb/adapters/visualizers/pearson_edge_bundle.py
  tvb_framework/tvb/adapters/visualizers/time_series.py
  tvb_framework/tvb/interfaces/web/controllers/base_controller.py
  tvb_library/tvb/basic/config/profile_settings.py
Labels: bug, area/framework

#622 TVB-3047. Fix Phase Plane error.
  tvb_framework/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
Labels: area/framework

#623 TVB-3046 Avoid keeping data on MonitorsWizardHandler singleton
  tvb_framework/tvb/interfaces/web/controllers/simulator/monitors_wizard_handler.py
  tvb_framework/tvb/interfaces/web/controllers/simulator/simulator_controller.py
Labels: bug, area/framework

#624 Include bearer token in github API request (taken from Jenkins)
  .github/workflows/build.yml
  .github/workflows/pg-tests.yml
  tvb_build/Jenkinsfile-Step1
  tvb_build/Jenkinsfile-TVBRun
  tvb_build/build_step1.py
  tvb_build/docker/Dockerfile-build
  tvb_build/docker/Dockerfile-run
  tvb_documentation/demos/interacting_with_rest_api_launch_operations.ipynb
  tvb_documentation/manuals/UserGuide/UserGuide-Installation.rst
  tvb_documentation/manuals/UserGuide/UserGuide-UI_Analyze.rst
  tvb_framework/tvb/config/init/introspector_registry.py
  tvb_framework/tvb/core/adapters/abcadapter.py
  tvb_framework/tvb/core/entities/file/file_update_scripts/005_update_files.py
  tvb_framework/tvb/core/utils.py
  tvb_library/tvb/basic/config/settings.py
  tvb_storage/tvb/storage/h5/file/exceptions.py
Labels: documentation, enhancement, area/framework

#625 TVB-3049: Add constraints for non admin project members
  tvb_framework/tvb/core/services/project_service.py
  tvb_framework/tvb/interfaces/web/controllers/project/project_controller.py
  tvb_framework/tvb/interfaces/web/static/js/genericTVB.js
  tvb_framework/tvb/interfaces/web/templates/jinja2/project/editone.html
  tvb_framework/tvb/tests/framework/core/services/project_service_test.py
Labels: enhancement, area/framework

#626 TVB-3049 TVB-3044 Prepare release 2.7.1
  tvb_build/Jenkinsfile-Linux
  tvb_build/Jenkinsfile-Step1
  tvb_build/tvb_build/third_party_licenses/packages_accepted.xml
  tvb_framework/setup.py
  tvb_framework/tvb/interfaces/rest/bids_monitor/__init__.py
  tvb_framework/tvb/interfaces/rest/bids_monitor/tests/__init__.py
  tvb_framework/tvb/interfaces/rest/bids_monitor/tests/bids_monitor_test.py
  tvb_framework/tvb/interfaces/web/controllers/base_controller.py
  tvb_framework/tvb/tests/framework/core/base_testcase.py
  tvb_storage/README.rst
  tvb_storage/setup.py
Labels: enhancement, area/framework

#628 TVB-3054: Fix description not being saved
  tvb_framework/tvb/interfaces/web/templates/jinja2/project/editone.html
Labels: bug, area/framework

#629 TVB-3053. Better Error handling
  tvb_framework/tvb/adapters/creators/siibra_base.py
  tvb_framework/tvb/adapters/creators/siibra_creator.py
Labels: enhancement, area/framework

#621 Added authors to the infinite theta demo notebook.
  tvb_documentation/demos/theta_neuron_models.ipynb
Labels: documentation, area/scilib

#631 TVB-3029: Use CLIENT_SECRET in Siibra tests & License adjustments
  .github/workflows/build.yml
  tvb_build/tvb_build/third_party_licenses/license/LICENSE_deprecated.txt
  tvb_build/tvb_build/third_party_licenses/license/LICENSE_kubernetes.txt
  tvb_build/tvb_build/third_party_licenses/license/LICENSE_markupsafe.txt
  tvb_build/tvb_build/third_party_licenses/license/LICENSE_matplotlib_inline.txt
  tvb_build/tvb_build/third_party_licenses/packages_accepted.xml
  tvb_framework/README.rst
  tvb_framework/tvb/config/init/alembic/env.py
  tvb_framework/tvb/config/init/alembic/versions/32d4bf9f8cab_update_db_002.py
  tvb_framework/tvb/config/init/alembic/versions/32d4bf9f8def_update_db_003.py
  tvb_framework/tvb/config/init/alembic/versions/ec2859bb9114_update_db_001.py
  tvb_framework/tvb/config/init/initializer.py
  tvb_framework/tvb/core/entities/model/model_operation.py
  tvb_framework/tvb/tests/framework/adapters/creators/siibra_base_test.py
  tvb_framework/tvb/tests/framework/adapters/creators/siibra_creator_test.py
Labels: enhancement, area/framework

#632 tvb-contrib fix in data_structures_utils.py
  tvb_contrib/tvb/contrib/scripts/utils/data_structures_utils.py
Labels: bug, area/scilib

#599 run_sim entry-point; single license in codegen
  tvb_documentation/demos/using_backends.ipynb
  tvb_library/tvb/simulator/backend/base.py
  tvb_library/tvb/simulator/backend/nb_mpr.py
  tvb_library/tvb/simulator/backend/np.py
  tvb_library/tvb/simulator/backend/templates/np-coupling.py.mako
  tvb_library/tvb/simulator/backend/templates/np-dfuns.py.mako
  tvb_library/tvb/simulator/backend/templates/np-integrate.py.mako
  tvb_library/tvb/simulator/backend/templates/np-sim.py.mako
  tvb_library/tvb/tests/library/simulator/backend/npbackend_test.py
Labels: area/scilib
