Repository the-virtual-brain/tvb-root, pull requests merged in 2023-03, with the labels that each got.

#648 TVB-2027 & TVB-2380 - Problems to launch TVB web server and DB connection in case of non-ascii characters in path
  tvb_library/tvb/basic/config/stored.py
Labels: bug, area/framework

#652 HBP-210. Create aliases to avoid sqlalchemy warnings.
  tvb_framework/tvb/core/entities/storage/burst_dao.py
  tvb_framework/tvb/core/entities/storage/datatype_dao.py
Labels: area/framework

#655 TVB-3076: Improve logs for PhasePlane web page
  tvb_framework/tvb/interfaces/web/controllers/burst/base_controller.py
  tvb_framework/tvb/interfaces/web/controllers/burst/dynamic_model_controller.py
  tvb_framework/tvb/interfaces/web/controllers/burst/matjax.py
Labels: area/framework

#654 HBP-220: send logs to elasticsearch based on buffer's size in bytes
  tvb_build/docker/.tvb.configuration
  tvb_build/hbp_openshift_deployer/tvb_deployer.yml
  tvb_framework/tvb/config/logger/elasticsearch_handler.py
  tvb_library/tvb/basic/config/profile_settings.py
Labels: enhancement, area/framework

#647 TVB-2513 Avoid numpy deprecation warnings
  tvb_contrib/tvb/contrib/cosimulation/cosimulator.py
  tvb_contrib/tvb/contrib/scripts/datatypes/sensors.py
  tvb_contrib/tvb/contrib/simulator/models/brunel_wang.py
  tvb_documentation/sim_doc/generate_model_phase_plane_images.py
  tvb_framework/tvb/adapters/analyzers/cross_correlation_adapter.py
  tvb_framework/tvb/adapters/creators/connectivity_creator.py
  tvb_framework/tvb/adapters/uploaders/bids_importer.py
  tvb_framework/tvb/adapters/uploaders/gifti/parser.py
  tvb_framework/tvb/adapters/uploaders/nifti_importer.py
  tvb_framework/tvb/adapters/uploaders/zip_connectivity_importer.py
  tvb_framework/tvb/adapters/uploaders/zip_surface/parser.py
  tvb_framework/tvb/core/entities/file/file_update_scripts/005_update_files.py
  tvb_framework/tvb/tests/framework/adapters/uploaders/gifti_importer_test.py
  tvb_library/tvb/analyzers/node_coherence.py
  tvb_library/tvb/analyzers/node_complex_coherence.py
  tvb_library/tvb/basic/config/profile_settings.py
  tvb_library/tvb/datatypes/sensors.py
  tvb_library/tvb/simulator/monitors.py
  tvb_library/tvb/simulator/plot/phase_plane_interactive.py
  tvb_library/tvb/simulator/plot/tools.py
Labels: dependencies

#656 HBP-218: add a field for method name in elasticsearch logs
  tvb_framework/tvb/config/logger/elasticsearch_handler.py
  tvb_framework/tvb/interfaces/web/controllers/autologging.py
  tvb_framework/tvb/tests/framework/config/__init__.py
  tvb_framework/tvb/tests/framework/config/logger/__init__.py
  tvb_framework/tvb/tests/framework/config/logger/logging_test.py
Labels: enhancement, area/framework

#658 HBP-216: resolve the missing controller_method attribute error
  tvb_framework/tvb/config/logger/elasticsearch_handler.py
Labels: area/framework

#653 HBP-219. Migrate code to SQLAlchemy > 2.0
  tvb_build/docker/requirements_group
  tvb_framework/requirements.txt
  tvb_framework/setup.py
  tvb_framework/tvb/config/init/alembic/env.py
  tvb_framework/tvb/core/entities/storage/datatype_dao.py
  tvb_framework/tvb/core/entities/storage/operation_dao.py
  tvb_framework/tvb/core/entities/storage/project_dao.py
  tvb_framework/tvb/core/neotraits/db.py
  tvb_framework/tvb/core/services/project_service.py
  tvb_framework/tvb/tests/framework/core/services/project_structure_test.py
Labels: enhancement, area/framework

#662 TVB-3077 Improve equations display on PhasePlane page
  tvb_framework/tvb/interfaces/web/controllers/burst/matjax.py
  tvb_framework/tvb/interfaces/web/templates/jinja2/burst/dynamic.html
  tvb_library/tvb/basic/neotraits/info.py
Labels: bug, documentation, area/framework
